{% from 'autokuma.yml.j2' import labels as kuma with context %}
services:
  ddns-proxied:
    image: favonia/cloudflare-ddns:latest
    container_name: cloudflare-ddns-proxied
    restart: always
    read_only: true
    cap_drop: [all]
    security_opt: [no-new-privileges:true]
    environment:
      - CF_API_TOKEN={{ cloudflare_dns_token }}
      - DOMAINS={{ domain }}
      - PROXIED=true
      - IP6_PROVIDER=none
    networks:
{% for net in container_item.networks | default([docker_network]) %}
      - {{ net }}
{% endfor %}
    labels:
      {{ kuma('cloudflare-ddns-proxied') }}
  ddns-direct:
    image: favonia/cloudflare-ddns:latest
    container_name: cloudflare-ddns-direct
    restart: always
    read_only: true
    cap_drop: [all]
    security_opt: [no-new-privileges:true]
    environment:
      - CF_API_TOKEN={{ cloudflare_dns_token }}
      - DOMAINS=valheim.{{ domain }},minecraft.{{ domain }},terraria.{{ domain }}
      - PROXIED=false
      - IP6_PROVIDER=none
    networks:
{% for net in container_item.networks | default([docker_network]) %}
      - {{ net }}
{% endfor %}
    labels:
      {{ kuma('cloudflare-ddns-direct') }}

networks:
{% for net in container_item.networks | default([docker_network]) %}
  {{ net }}:
    external: true
{% endfor %}
