{% from 'autokuma.yml.j2' import labels as kuma with context %}
---

services:
  autokuma:
    image: ghcr.io/bigboot/autokuma:latest
    container_name: autokuma
    restart: unless-stopped
    environment:
      - AUTOKUMA__KUMA__URL=http://uptime-kuma:3001
      - AUTOKUMA__KUMA__USERNAME={{ uptime_kuma_username }}
      - AUTOKUMA__KUMA__PASSWORD={{ uptime_kuma_password }}
      - AUTOKUMA__DOCKER__HOSTS=tcp://docker-proxy:2375
      - AUTOKUMA__DB_PATH=/data/autokuma.db
    volumes:
      - ./data:/data
    networks:
      - {{ docker_network }}
    labels:
      - "com.centurylinklabs.watchtower.depends-on=docker-proxy,uptime-kuma"
      {{ kuma(container_item.name) }}

networks:
  {{ docker_network }}:
    external: true
