---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ seed_volume_claim }}
  namespace: {{ k8s_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ seed_volume_storage_class }}
  resources:
    requests:
      storage: {{ seed_volume_size }}
