---
apiVersion: v1
kind: Secret
metadata:
  name: homelab-mcp-secrets
  namespace: {{ k8s_namespace }}
type: Opaque
stringData:
  HOMELAB_MCP_TOKEN: "{{ homelab_mcp_token }}"
  HOMELAB_HA_TOKEN: "{{ claude_ha_token }}"
