{% from 'traefik.yml.j2' import labels with context %}
---
version: "3.8"
services:
  docker-proxy:
    image: lscr.io/linuxserver/socket-proxy:latest
    container_name: docker-proxy
    environment:
      - CONTAINERS=1 # Allow access to viewing containers
      - SERVICES=1 # Allow access to viewing services (necessary when using Docker Swarm)
      - TASKS=1 # Allow access to viewing tasks (necessary when using Docker Swarm)
      - POST=1 # Allow any POST operations (effectively read-only)
    networks:
      - {{ docker_network }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # Mounted as read-only
    read_only: true
    tmpfs:
      - /run
    restart: unless-stopped

networks:
  {{ docker_network }}:
    external: true
