{% from 'traefik.yml.j2' import labels with context %}
---

services:
  readarr:
    image: lscr.io/linuxserver/readarr:develop
    container_name: readarr
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ={{ tz }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config:/config
      - /home/{{ sys_user }}/server/containers/data/media/books:/books
      - /home/{{ sys_user }}/server/containers/data/downloads:/downloads
    restart: unless-stopped
    networks:
      - {{ docker_network }}
    healthcheck:
      test: curl --fail -s http://localhost:8787/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      {# Generate labels(container, port, docker_network, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          docker_network,
          container_item.use_authelia
        )
      }}

networks:
  {{ docker_network }}:
    external: true
