{% from 'traefik.yml.j2' import labels with context %}
---
version: "3.8"

services:
  stubby:
    image: mvance/stubby:latest
    container_name: stubby
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - './data/stubby/:/opt/stubby/etc/stubby/'
    networks:
      - {{ docker_network }}

  unbound:
    image: mvance/unbound:1.16.1-stubby
    container_name: unbound
    restart: unless-stopped
    depends_on:
      - stubby
    security_opt:
      - no-new-privileges:true
    networks:
      {{ docker_network }}:
        ipv4_address: 172.18.0.255

  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    restart: unless-stopped
    depends_on:
      - unbound
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    networks:
      - {{ docker_network }}
    environment:
      tz: {{ tz }}
      WEBPASSWORD: {{ pihole_password }}
      ServerIP: {{ server_ip }}
      PIHOLE_DNS_: 172.18.0.255#5353
    volumes:
       - './data/etc-pihole/:/etc/pihole/'
       - './data/etc-dnsmasq.d/:/etc/dnsmasq.d/'
    security_opt:
      - no-new-privileges:true
    cap_add:
      - NET_ADMIN
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ docker_network }}"

      {# Generate labels(container, port, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          container_item.use_authelia
        )
      }}

networks:
  default:
    external:
      name: {{ docker_network }}
  {{ docker_network }}:
    external: true
