# Ignore everything except ansible and docs
/*
!/ansible
!/docs
!/docker-cloudflare-ddns
!.pre-commit-config.yaml
!/.vscode
!/.github
# Make sure these are ignored
ansible/.env
ansible/.aws
ansible/.ansible
ansible/collections
ansible/roles/code-server/templates/github
ansible/roles/foundry/files/*.zip
ansible/ansible.log
