# Ignore everything except ansible and docs
/*
!/ansible
!/docs
!/scripts
!/docker-cloudflare-ddns
!prek.toml
!.ansible-lint
!ansible.cfg
!/.vscode
!/.github
# Make sure these are ignored
ansible/.env
ansible/.aws
ansible/.ansible
ansible/collections
ansible/roles/containers/code-server/templates/github
ansible/roles/foundry/files/*.zip
ansible/ansible.log
*.pyc
!/CLAUDE.md
!/.claude
