{% from 'traefik.yml.j2' import labels with context %}
---
version: "3.8"
services:
  dockerproxy:
    image: lscr.io/linuxserver/socket-proxy:latest
    container_name: dockerproxy
    environment:
      - CONTAINERS=1 # Allow access to viewing containers
      - SERVICES=1 # Allow access to viewing services (necessary when using Docker Swarm)
      - TASKS=1 # Allow access to viewing tasks (necessary when using Docker Swarm)
      - POST=0 # Disallow any POST operations (effectively read-only)
    networks:
      - {{ DOCKER_NETWORK }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # Mounted as read-only
    read_only: true
    tmpfs:
      - /run
    restart: unless-stopped

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ TZ }}
      - HOMEPAGE_ALLOWED_HOSTS=homepage.{{ DOMAIN }}
    ports:
      - 3006:3000
    restart: unless-stopped
    networks:
      - {{ DOCKER_NETWORK }}
    volumes:
      - ./config:/app/config
      - ./icons:/app/public/icons
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"

      {# Generate labels(container_name, port, use_authelia) -#}
      {{ labels(container, '3000', 'y') }}

networks:
  {{ DOCKER_NETWORK }}:
    external: true
    