{% from 'traefik.yml.j2' import labels with context %}
---
version: '3.8'
services:
  changedetection:
    image: lscr.io/linuxserver/changedetection.io:latest
    container_name: changedetection
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ={{ tz }}
      - BASE_URL=https://change-detection.{{ domain }}
    volumes:
      - ./config:/config
    restart: unless-stopped
    networks:
      - {{ docker_network }}
    healthcheck:
      test: curl --fail -s http://localhost:5000/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ docker_network }}"

      {# Generate labels(container, port, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          container_item.use_authelia
        )
      }}
      # Define a middleware to force the Proto header to https
      - "traefik.http.middlewares.force-secure-headers.headers.customrequestheaders.X-Forwarded-Proto=https"
      # Add the middleware to the router (CHAINED with Authelia)
      - "traefik.http.routers.change-detection-secure.middlewares=authelia@docker,force-secure-headers"

networks:
  {{ docker_network }}:
    external: true
