{% from 'traefik.yml.j2' import labels with context %}
{% from 'autokuma.yml.j2' import labels as kuma with context %}
---
services:
  file-browser:
    image: filebrowser/filebrowser:latest
    container_name: file-browser
    user: {{ puid }}:{{ pgid }}
    volumes:
      - /home/{{ sys_user }}/server:/srv
      - filebrowser_db:/database
      - filebrowser_config:/config
      - filebrowser_db_file:/data/filebrowser.db
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
{% for net in container_item.networks | default([docker_network]) %}
      - {{ net }}
{% endfor %}
    labels:
      {# Generate labels(container, port, docker_network, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          (container_item.networks | default([docker_network]))[0],
          container_item.use_authelia
        )
      }}
      {{ kuma(container_item.name) }}

networks:
{% for net in container_item.networks | default([docker_network]) %}
  {{ net }}:
    external: true
{% endfor %}

volumes:
  filebrowser_db:
  filebrowser_config:
  filebrowser_db_file:
