# List of users
users:
  {{ AUTHELIA_USER }}:
    disabled: false
    displayname: "{{ AUTHELIA_USER }}"
    password: "{{ authelia_password_hash }}"
    email: {{ EMAIL }}
    groups:
      - admins
      - dev