# List of users
users:
  {{ authelia_user }}:
    disabled: false
    displayname: "{{ authelia_user }}"
    password: '{{ authelia_password_hash }}'
    email: "{{ email }}"
    groups:
      - 'admins'
      - 'dev'
