{% from 'traefik.yml.j2' import labels with context %}
---

services:
  code-server:
    build: .
    image: my-code-server:latest
    container_name: code-server
    environment:
      PUID: {{ puid }}
      PGID: {{ pgid }}
      TZ: {{ tz }}
      PASSWORD: {{ code_server_password }}
      SUDO_PASSWORD: {{ code_server_sudo_password }}
      DOCKER_MODS: linuxserver/mods:code-server-extension-arguments
      EXTENSIONS_GALLERY: '{"serviceUrl": "https://open-vsx.org/vscode/gallery", "itemUrl": "https://open-vsx.org/vscode/item"}'
      VSCODE_EXTENSION_IDS: "ms-azuretools.vscode-docker|ms-python.python|charliermarsh.ruff|astral-sh.ty|james-yu.latex-workshop|tomoki1207.pdf|google.geminicodeassist|Anthropic.claude-code"
      DOCKER_HOST: tcp://socket-proxy:2375
    volumes:
      - ./config:/config
    restart: unless-stopped
    cap_drop:
      - ALL
    cap_add:
      - SETGID
      - SETUID
      - CHOWN
      - DAC_OVERRIDE
    security_opt:
      - no-new-privileges:true
    networks:
      - {{ docker_network }}
    healthcheck:
      test: curl --fail -s http://localhost:8443/healthz/ || exit 1
      start_period: 1m
      interval: 30s
      timeout: 10s
      retries: 6
    labels:
      {# Generate labels(container, port, docker_network, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          docker_network,
          container_item.use_authelia
        )
      }}
      # Watchtower
      - "com.centurylinklabs.watchtower.depends-on:docker-proxy"

networks:
  {{ docker_network }}:
    external: true
