{% from 'traefik.yml.j2' import labels with context %}
---
version: "3.8"
services:
  code-server:
    image: lscr.io/linuxserver/code-server:latest
    container_name: code-server
    environment:
      puid: {{ puid }}
      pgid: {{ pgid }}
      tz: {{ tz }}
      PASSWORD: {{ CODE_SERVER_PASSWORD }}
      SUDO_PASSWORD: {{ CODE_SERVER_SUDO_PASSWORD }}
      # Pre-install Git and Python 3 with linuxserver docker mods
      DOCKER_MODS: linuxserver/mods:universal-package-install|linuxserver/mods:universal-git|linuxserver/mods:code-server-python3|linuxserver/mods:code-server-docker|linuxserver/mods:code-server-extension-arguments
      EXTENSIONS_GALLERY: '{"serviceUrl": "https://marketplace.visualstudio.com/_apis/public/gallery", "itemUrl": "https://marketplace.visualstudio.com/items"}'
      VSCODE_EXTENSION_IDS: ms-azuretools.vscode-docker|ms-python.python|ms-python.vscode-pylance|charliermarsh.ruff|GitHub.copilot|GitHub.copilot-chat|astral-sh.ty|google.geminicodeassist
      INSTALL_PIP_PACKAGES: uv|pandas|requests|ruff|google-genai|ty|structlog
    volumes:
      - ./config:/config
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    networks:
      - {{ docker_network }}
    healthcheck:
      test: curl --fail -s http://localhost:8443/healthz/ || exit 1
      start_period: 1m
      interval: 30s
      timeout: 10s
      retries: 6
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ docker_network }}"

      {# Generate labels(container, port, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          container_item.use_authelia
        )
      }}

networks:
  {{ docker_network }}:
    external: true
