{% from 'traefik.yml.j2' import labels with context %}
---
version: "3.8"
services:
  healthchecks:
    image: lscr.io/linuxserver/healthchecks
    container_name: healthchecks
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - SITE_ROOT=https://healthchecks.{{ DOMAIN }}
      - SITE_NAME=Home Server healthchecks
      - DEFAULT_FROM_EMAIL={{ EMAIL }}
      - EMAIL_HOST=smtp.gmail.com
      - EMAIL_PORT=587
      - EMAIL_HOST_USER={{ HEALTHCHECKS_SMTP_USER }}
      - EMAIL_HOST_PASSWORD={{ HEALTHCHECKS_SMTP_PASSWORD }}
      - EMAIL_USE_TLS=True
      - SUPERUSER_EMAIL={{ EMAIL }}
      - SUPERUSER_PASSWORD={{ HEALTHCHECKS_PASSWORD }}
    volumes:
      - ./config:/config
    ports:
      - 8001:8000
    networks:
      - {{ DOCKER_NETWORK }}
    restart: unless-stopped
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"

      {# Generate labels(container_name, port, use_authelia) -#}
      {{ labels(container, '8000', 'n') }}

networks:
  {{ DOCKER_NETWORK }}:
    external: true