{% from 'traefik.yml.j2' import labels with context %}
---
version: '3.8'
services:
  calibre:
    image: lscr.io/linuxserver/calibre:latest
    container_name: calibre
    security_opt:
      - seccomp:unconfined #optional
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ TZ }}
      - PASSWORD= #optional
      - CLI_ARGS= #optional
    volumes:
      - ./config:/config
      - /home/{{ SYS_USER }}/server/data/media/books:/books
    restart: unless-stopped
    networks:
      - {{ DOCKER_NETWORK }}
    healthcheck:
      test: curl --fail -s http://localhost:8080/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"

      {# Generate labels(container_name, port, use_authelia) -#}
      {{ labels(container, '8080', 'y') }}

networks:
  {{ DOCKER_NETWORK }}:
    external: true