{% from 'traefik.yml.j2' import labels with context %}
---

services:
  wireguard:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: wireguard
    hostname: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    security_opt:
      - no-new-privileges:true
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ={{ tz }}
      - DOCKER_MODS=linuxserver/mods:wireguard-mullvad
      - MULLVAD_PRIVATE_KEY={{ wireguard_interface_private_key }}
      - MULLVAD_ACCOUNT={{ mullvad_account }}
      - MULLVAD_LOCATION=us-qas
      - LAN_NETWORKS=192.168.0.0/24,10.0.0.0/24,172.16.0.0/12
    volumes:
      - ./config:/config
      - /lib/modules:/lib/modules
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=1
      - net.ipv6.conf.default.disable_ipv6=1
    healthcheck:
      test: |
        bash -c 'curl -fs https://am.i.mullvad.net/connected | grep -q "You are connected to Mullvad" || exit 1'
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 10s
    restart: unless-stopped
    networks:
      - {{ docker_network }}
    labels:
      {# Generate labels(container, port, docker_network, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          docker_network,
          container_item.use_authelia
        )
      }}

      # Disable Watchtower
      - "com.centurylinklabs.watchtower.enable=false"
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: service:wireguard
    depends_on:
      wireguard:
        condition: service_healthy
    security_opt:
      - no-new-privileges:true
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ={{ tz }}
      - UMASK_SET=022
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - ./config:/config
      - /home/{{ sys_user }}/server/containers/data/downloads:/downloads
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 1m30s
      timeout: 10s
      retries: 3

networks:
  {{ docker_network }}:
    external: true
