[Interface]
# Device: Funny Dog
PrivateKey = {{ wireguard_interface_private_key }}
Address = {{ wireguard_interface_address }}
DNS = {{ wireguard_interface_dns }}

[Peer]
PublicKey = {{ wireguard_peer_public_key }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ wireguard_peer_endpoint }}
