[Interface]
# Device: Funny Dog
PrivateKey = {{ WIREGUARD_INTERFACE_PRIVATE_KEY }}
Address = {{ WIREGUARD_INTERFACE_ADDRESS }}
DNS = {{ WIREGUARD_INTERFACE_DNS }}

[Peer]
PublicKey = {{ WIREGUARD_PEER_PUBLIC_KEY }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ WIREGUARD_PEER_ENDPOINT }}
