{% from 'traefik.yml.j2' import labels with context %}
---
version: '3.8'
services:
  change-detection:
    image: lscr.io/linuxserver/changedetection.io:latest
    container_name: change-detection
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ={{ tz }}
      - BASE_URL=https://change-detection.{{ domain }}
      - PLAYWRIGHT_DRIVER_URL=ws://playwright:3000/?stealth=1&--disable-web-security=true
    volumes:
      - ./config:/config
    depends_on:
      - playwright
    restart: unless-stopped
    networks:
      - {{ docker_network }}
    healthcheck:
      test: curl --fail -s http://localhost:5000/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      {# Generate labels(container, port, docker_network, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          docker_network,
          container_item.use_authelia
        )
      }}
      # Define a middleware to force the Proto header to https
      - "traefik.http.middlewares.force-secure-headers.headers.customrequestheaders.X-Forwarded-Proto=https"
      # Add the middleware to the router (CHAINED with Authelia)
      - "traefik.http.routers.change-detection-secure.middlewares=authelia@docker,force-secure-headers"
  playwright:
    image: dgtlmoon/sockpuppetbrowser:latest
    container_name: playwright-browser
    restart: unless-stopped
    networks:
      - {{ docker_network }}
    environment:
      - SCREEN_WIDTH=1920
      - SCREEN_HEIGHT=1080
      - SCREEN_DEPTH=24
      - MAX_CONCURRENT_SESSIONS=10

networks:
  {{ docker_network }}:
    external: true
