version: "3.8"

services:
  hoppscotch:
    image: hoppscotch/hoppscotch:latest
    container_name: hoppscotch
    ports:
      - 3002:3000
    restart: unless-stopped
    networks:
      - {{ DOCKER_NETWORK }}
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:3000/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Setup HTTP entrypoint
      - "traefik.http.routers.hoppscotch.entrypoints=http"
      - "traefik.http.routers.hoppscotch.rule=Host(`hoppscotch.{{ DOMAIN }}`)"
      # Redirect HTTP to HTTPS
      - "traefik.http.middlewares.hoppscotch-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.hoppscotch.middlewares=hoppscotch-https-redirect"
      # Setup HTTPS entrypoint
      - "traefik.http.routers.hoppscotch-secure.entrypoints=https"
      - "traefik.http.routers.hoppscotch-secure.rule=Host(`hoppscotch.{{ DOMAIN }}`)"
      - "traefik.http.routers.hoppscotch-secure.tls=true"
      # Setup port forwarding to internal port
      - "traefik.http.routers.hoppscotch-secure.service=hoppscotch"
      - "traefik.http.services.hoppscotch.loadbalancer.server.port=3000"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"
      # Add authelia
      - 'traefik.http.routers.hoppscotch-secure.middlewares=authelia@docker'

networks:
  {{ DOCKER_NETWORK }}:
    external: true
