version: "3.8"
services:
  wg-easy:
    image: ghcr.io/wg-easy/wg-easy
    container_name: wg-easy
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    ports:
      - "51822:51820/udp"
      - "{{ container_item.port }}:51821/tcp"
    environment:
      - LANG=en
      - WG_HOST=wireguard.[REMOVED_KEY]
      - WG_PERSISTENT_KEEPALIVE=25
      - WG_PORT=51822
    volumes:
      - ./config:/etc/wireguard
      - /lib/modules:/lib/modules:ro
    restart: unless-stopped
    networks:
      - {{ docker_network }}

networks:
  {{ docker_network }}:
    external: true