version: '3.8'
services:
  cloudflare-ddns-mc:
    image: oznu/cloudflare-ddns:latest
    container_name: cloudflare-ddns-mc
    restart: unless-stopped
    environment:
      - API_KEY={{ CLOUDFLARE_DNS_TOKEN }}
      - ZONE={{ DOMAIN }}
      - SUBDOMAIN=minecraft
    networks:
      - {{ DOCKER_NETWORK }}
    healthcheck:
      test: ping -c 1 www.google.com || exit 1
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  {{ DOCKER_NETWORK }}:
    external: true
