{% from 'traefik.yml.j2' import labels with context %}
---
version: "3.8"
services:
  readarr:
    image: lscr.io/linuxserver/readarr:develop
    container_name: readarr
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ TZ }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config:/config
      - /home/{{ SYS_USER }}/server/data/media/books:/books
      - /home/{{ SYS_USER }}/server/data/downloads:/downloads
    restart: unless-stopped
    networks:
      - {{ DOCKER_NETWORK }}
    ports:
      - 8787:8787
    healthcheck:
      test: curl --fail -s http://localhost:8787/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"

      {# Generate labels(container_name, port, use_authelia) -#}
      {{ labels(container, '8787', 'y') }}

networks:
  {{ DOCKER_NETWORK }}:
    external: true
