---
version: "2.1"
services:
  scrutiny:
    image: lscr.io/linuxserver/scrutiny
    container_name: scrutiny
    cap_add:
      - SYS_RAWIO
      - SYS_ADMIN
    environment:
      - PUID={{ env.PUID }}
      - PGID={{ env.PUID }}
      - TZ={{ env.TZ }}
      - SCRUTINY_API_ENDPOINT=http://localhost:8082
      - SCRUTINY_WEB=true
      - SCRUTINY_COLLECTOR=true
    volumes:
      - /home/{{ env.SYS_USER }}/server/scrutiny/config:/config
      - /run/udev:/run/udev:ro
    ports:
      - 8082:8080
    devices:
      - /dev/nvme0:/dev/nvme0
    networks:
      - {{ env.DOCKER_NETWORK}}
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.scrutiny.entrypoints=http"
      - "traefik.http.routers.scrutiny.rule=Host(`scrutiny.{{ env.DOMAIN }}`)"
      - "traefik.http.middlewares.scrutiny-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.scrutiny.middlewares=scrutiny-https-redirect"
      - "traefik.http.routers.scrutiny-secure.entrypoints=https"
      - "traefik.http.routers.scrutiny-secure.rule=Host(`scrutiny.{{ env.DOMAIN }}`)"
      - "traefik.http.routers.scrutiny-secure.tls=true"
      - "traefik.http.routers.scrutiny-secure.service=scrutiny"
      - "traefik.http.services.scrutiny.loadbalancer.server.port=8080"
      - "traefik.docker.network={{ env.DOCKER_NETWORK }}"
      - 'traefik.http.routers.scrutiny-secure.middlewares=authelia@docker'

networks:
  {{ env.DOCKER_NETWORK}}:
    external: true
