version: "3.8"
services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: container:nordlynx # port 8080
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ TZ }}
      - UMASK_SET=022
      - WEBUI_PORT=8080
    volumes:
      - ./config:/config
      - /home/{{ SYS_USER }}/server/media/downloads:/downloads
    restart: unless-stopped
    healthcheck:
      test: curl --fail -s http://localhost:8080/ || exit 1 && curl -fIsS http://wikipedia.org/|| exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Setup HTTP entrypoint
      - "traefik.http.routers.qbittorrent.entrypoints=http"
      - "traefik.http.routers.qbittorrent.rule=Host(`qbittorrent.{{ DOMAIN }}`)"
      # Redirect HTTP to HTTPS
      - "traefik.http.middlewares.qbittorrent-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.qbittorrent.middlewares=qbittorrent-https-redirect"
      # Setup HTTPS entrypoint
      - "traefik.http.routers.qbittorrent-secure.entrypoints=https"
      - "traefik.http.routers.qbittorrent-secure.rule=Host(`qbittorrent.{{ DOMAIN }}`)"
      - "traefik.http.routers.qbittorrent-secure.tls=true"
      # Setup port forwarding to internal port
      - "traefik.http.routers.qbittorrent-secure.service=qbittorrent"
      - "traefik.http.services.qbittorrent.loadbalancer.server.port=8080"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"
      # Add authelia
      - 'traefik.http.routers.qbittorrent-secure.middlewares=authelia@docker'
    depends_on:
      - nordlynx