{% from 'traefik.yml.j2' import labels with context %}
---
version: "3.8"
services:
  nordlynx:
    image: ghcr.io/bubuntux/nordlynx:latest
    container_name: nordlynx
    restart: unless-stopped
    cap_add:
      - NET_ADMIN #required
    environment:
      - PRIVATE_KEY={{ NORDVPN_KEY }}
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1  # Recomended if using ipv4 only
    ports:
      - 8080:8080 # qBittorrent
      - 6881:6881
      - 6881:6881/udp
    networks:
      - {{ DOCKER_NETWORK }}
    healthcheck:
      test: ping -c 1 www.wikipedia.com || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"

      {# Generate labels(container_name, port, use_authelia) -#}
      {{ labels(container, '8080', 'y') }}

      # Disable Watchtower
      - "com.centurylinklabs.watchtower.enable=false"

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: service:nordlynx # port 8080
    depends_on:
      - nordlynx
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ TZ }}
      - UMASK_SET=022
      - WEBUI_PORT=8080
    volumes:
      - ./config:/config
      - /home/{{ SYS_USER }}/server/data/torrents:/data/torrents
    restart: unless-stopped
    healthcheck:
      test: curl --fail -s http://localhost:8080/ || exit 1 && curl -fIsS http://wikipedia.org/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  {{ DOCKER_NETWORK }}:
    external: true
