{% from 'traefik.yml.j2' import labels with context %}
---
version: "3.8"
services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ TZ }}
      - UMASK_SET=022
      - WEBUI_PORT=8080
    ports:
      - 8080:8080
    volumes:
      - ./config:/config
      - /home/{{ SYS_USER }}/server/data/torrents:/data/torrents
    restart: unless-stopped
    networks:
      - {{ DOCKER_NETWORK }}
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"

      {# Generate labels(container_name, port, use_authelia) -#}
      {{ labels(container, '8080', 'y') }}

      # Disable Watchtower
      - "com.centurylinklabs.watchtower.enable=false"
      # Enable Autoheal
      - "autoheal=true"
  transcode:
    container_name: transcode
    build:
      context: ./transcode
    environment:
      - TZ={{ TZ }}
      - TRANSCODE_PATHS=data/torrents, /data/media/movies, /data/media/tv
    volumes:
      - /home/{{ SYS_USER }}/server/data/torrents:/data/torrents
      - /home/{{ SYS_USER }}/server/data/torrents:/data/media/movies
      - /home/{{ SYS_USER }}/server/data/torrents:/data/media/tv
      - ./transcode:/usr/app
      - transcode-data:/usr/app/node_modules
    restart: unless-stopped
    networks:
      - {{ DOCKER_NETWORK }}

networks:
  {{ DOCKER_NETWORK }}:
    external: true
volumes:
  transcode-data: