{% from 'traefik.yml.j2' import labels with context %}
---

services:
  foundry:
    image: direckthit/fvtt-docker:latest
    container_name: foundry
    user: root # Workaround for permission errors
    volumes:
      - ./data:/data/foundryvtt
      - ./foundrydl:/host
      - foundry_data:/opt/foundryvtt/resources/app
    restart: unless-stopped
    networks:
      - {{ docker_network }}
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:30000/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      {# Generate labels(container, port, docker_network, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          docker_network,
          container_item.use_authelia
        )
      }}

networks:
  {{ docker_network }}:
    external: true
volumes:
  foundry_data:
