REPO_DIR=/home/{{ sys_user }}/server
BRANCH=master
HEALTH_TIMEOUT_S=300
MONITORING_NETWORK=monitoring
DISCORD_WEBHOOK={{ gitops_deploy_discord_webhook }}
KUMA_PUSH_TOKEN={{ gitops_deploy_kuma_push_token }}
KUMA_PUSH_URL_BASE=http://uptime-kuma:3001/api/push
