{% from 'traefik.yml.j2' import labels with context %}
---

services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    user: "{{ puid }}"
    restart: unless-stopped
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./data:/var/lib/grafana
    networks:
      - {{ docker_network }}
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:3000/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      {# Generate labels(container, port, docker_network, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          docker_network,
          container_item.use_authelia
        )
      }}

      # Watchtower
      - "com.centurylinklabs.watchtower.depends-on: prometheus"
  loki:
    image: grafana/loki
    container_name: loki
    restart: unless-stopped
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    environment:
      - TZ={{ tz }}
    expose:
      - 3100
    volumes:
      - ./loki-config.yaml:/etc/loki/loki-config.yaml:ro
      - loki:/tmp
    command: -config.file=/etc/loki/loki-config.yaml
    networks:
      - {{ docker_network }}
  promtail:
    image: grafana/promtail
    container_name: promtail
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      - TZ={{ tz }}
      - DOCKER_HOST=tcp://docker-proxy:2375
    volumes:
      - ./promtail-config.yaml:/etc/promtail/promtail-config.yaml:ro
      # Access to mounted log files
      - /var/log/:/logs
      # Access to the host log files
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
    command: -config.file=/etc/promtail/promtail-config.yaml
    networks:
      - {{ docker_network }}
    labels:
      # Watchtower
      - "com.centurylinklabs.watchtower.depends-on:docker-proxy"

networks:
  {{ docker_network }}:
    external: true

volumes:
    loki:
