{% from 'traefik.yml.j2' import labels with context %}
---
version: '3.8'
services:
  n8n:
    build:
      context: .
      dockerfile: Dockerfile
      pull: true
    container_name: n8n
    restart: unless-stopped
    environment:
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_HOST=n8n.{{ domain }}
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - N8N_RUNNERS_ENABLED=true
      - N8N_PROXY_HOPS=1
      - NODE_ENV=production
      - NODE_RUNNERS_ENABLED=true
      - N8N_RUNNERS_MODE=external
      - N8N_RUNNERS_BROKER_LISTEN_ADDRESS=0.0.0.0
      - N8N_RUNNERS_AUTH_TOKEN={{ n8n_runner_auth_token }}
      - N8N_NATIVE_PYTHON_RUNNER=true
      - N8N_RUNNERS_TASK_REQUEST_TIMEOUT=300
      - WEBHOOK_URL=https://n8n.{{ domain }}/
      - GENERIC_TIMEZONE={{ tz }}
      - TZ={{ tz }}
    volumes:
      - n8n_data:/home/node/.n8n
      - ./local-files:/files
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    networks:
      - {{ docker_network }}
    labels:
      {# Generate labels(container, port, docker_network, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          docker_network,
          container_item.use_authelia
        )
      }}

      ## Webhook Bypass (Public)
      # We use PathPrefix to catch /webhook or /webhook-test and everything after it
      - "traefik.http.routers.n8n-webhook.rule=Host(`n8n.{{ domain }}`) && (PathPrefix(`/webhook/`) || PathPrefix(`/webhook-test/`))"
      - "traefik.http.routers.n8n-webhook.entrypoints=https"
      - "traefik.http.routers.n8n-webhook.tls=true"
      - "traefik.http.routers.n8n-webhook.service=n8n"
      # Priority must be higher than the UI router so Traefik matches this first
      - "traefik.http.routers.n8n-webhook.priority=100"

  n8n-runners:
    build:
      context: .
      dockerfile: Dockerfile-runners
      pull: true
    container_name: n8n-runners
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    environment:
      - N8N_RUNNERS_TASK_BROKER_URI=http://n8n:5679
      - N8N_RUNNERS_AUTH_TOKEN={{ n8n_runner_auth_token }}
    depends_on:
      - n8n
    networks:
      - {{ docker_network }}


networks:
  {{ docker_network }}:
    external: true

volumes:
  n8n_data:
