{% from 'traefik.yml.j2' import labels with context %}
---
version: '3.8'
services:
  n8n:
    build:
      context: .
      dockerfile: Dockerfile
      pull: true
    container_name: n8n
    restart: always
    environment:
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_HOST=n8n.{{ DOMAIN }}
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - N8N_RUNNERS_ENABLED=true
      - N8N_PROXY_HOPS=1
      - NODE_ENV=production
      - NODE_FUNCTION_ALLOW_EXTERNAL=fuzzball
      - WEBHOOK_URL=https://n8n.{{ DOMAIN }}/
      - GENERIC_TIMEZONE={{ TZ }}
      - TZ={{ TZ }}
    volumes:
      - n8n_data:/home/node/.n8n
      - ./local-files:/files
    networks:
      - {{ DOCKER_NETWORK }}
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"

      {# Generate labels(container, port, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          container_item.use_authelia
        )
      }}

networks:
  {{ DOCKER_NETWORK }}:
    external: true

volumes:
  n8n_data: