{% from 'traefik.yml.j2' import labels with context %}
---
version: "3.8"
services:
  speedtest:
    container_name: speedtest
    image: lscr.io/linuxserver/speedtest-tracker:latest
    networks:
      - {{ docker_network }}
    volumes:
      - ./config:/config
    environment:
      - TZ={{ tz }}
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - APP_KEY={{ speedtest_app_key }}
      - APP_URL="https://speedtest.{{ domain }}"
      - OOKLA_EULA_GDPR=true
      - SPEEDTEST_SCHEDULE="0 */6 * * *"
      - SPEEDTEST_SERVERS="1775"
      - PRUNE_RESULTS_OLDER_THAN="30"
    logging:
        driver: "json-file"
        options:
            max-file: "10"
            max-size: "200k"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ docker_network }}"

      {# Generate labels(container, port, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          container_item.use_authelia
        )
      }}

networks:
  {{ docker_network }}:
    external: true
