{% from 'traefik.yml.j2' import labels with context %}
---
version: "3.8"
services:
  docker-osx:
    image: sickcodes/docker-osx:ventura
    container_name: bluebubbles
    devices:
      - /dev/kvm
    ports:
      - 5999:5999
    restart: unless-stopped
    networks:
      - {{ DOCKER_NETWORK }}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ${PWD}/maindisk.qcow2:/image.qcow2
    environment:
      - IMAGE_PATH=/image.qcow2
      - EXTRA=-display none -vnc 0.0.0.0:99,password-secret=secvnc0 -object secret,id=secvnc0,data=vncpass
      - DISPLAY=:99
      - WIDTH=1920
      - HEIGHT=1080
      - GENERATE_UNIQUE=true
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"

networks:
  {{ DOCKER_NETWORK }}:
    external: true
