{% from 'traefik.yml.j2' import labels with context %}
---

services:
  glances:
    container_name: glances
    image: nicolargo/glances:latest
    restart: unless-stopped
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    networks:
      - {{ docker_network }}
    pid: host
    volumes:
      - /etc/os-release:/etc/os-release:ro
    environment:
      - "GLANCES_OPT=-w"
      - DOCKER_HOST=tcp://docker-proxy:2375
    labels:
      {# Generate labels(container, port, docker_network, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          docker_network,
          container_item.use_authelia
        )
      }}

      - "traefik.frontend.rule=Host:glances.docker.localhost"
      # Watchtower
      - "com.centurylinklabs.watchtower.depends-on:docker-proxy"

networks:
  {{ docker_network }}:
    external: true
