{% from 'traefik.yml.j2' import labels with context %}
{% from 'autokuma.yml.j2' import labels as kuma with context %}
---

services:
  glances:
    container_name: glances
    image: nicolargo/glances:latest
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://127.0.0.1:61208/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 15s
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    networks:
{% for net in container_item.networks | default([docker_network]) %}
      - {{ net }}
{% endfor %}
    pid: host
    volumes:
      - /etc/os-release:/etc/os-release:ro
    environment:
      - "GLANCES_OPT=-w"
      - DOCKER_HOST=tcp://docker-proxy:2375
    labels:
      {# Generate labels(container, port, docker_network, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          (container_item.networks | default([docker_network]))[0],
          container_item.use_authelia
        )
      }}
      {{ kuma(container_item.name) }}

      # Watchtower
      - "com.centurylinklabs.watchtower.depends-on:docker-proxy"

networks:
{% for net in container_item.networks | default([docker_network]) %}
  {{ net }}:
    external: true
{% endfor %}
