version: '3.1'

services:
  ghost:
    image: ghost:alpine
    restart: unless-stopped
    container_name: ghost
    ports:
      - 2368:2368
    environment:
      - url:"https://{{ DOMAIN }}"
    networks:
      - {{ DOCKER_NETWORK }}
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:2368/ghost/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Setup HTTP entrypoint
      - "traefik.http.routers.ghost.entrypoints=http"
      - "traefik.http.routers.ghost.rule=Host(`blog.{{ DOMAIN }}`)"
      # Redirect HTTP to HTTPS
      - "traefik.http.middlewares.ghost-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.ghost.middlewares=ghost-https-redirect"
      # Setup HTTPS entrypoint
      - "traefik.http.routers.ghost-secure.entrypoints=https"
      - "traefik.http.routers.ghost-secure.rule=Host(`blog.{{ DOMAIN }}`)"
      - "traefik.http.routers.ghost-secure.tls=true"
      # Setup port forwarding to internal port
      - "traefik.http.routers.ghost-secure.service=ghost"
      - "traefik.http.services.ghost.loadbalancer.server.port=2368"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"

networks:
  {{ DOCKER_NETWORK }}:
    external: true
