---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ prowlarr_k8s_flaresolverr_claim }}
  namespace: {{ k8s_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ prowlarr_k8s_flaresolverr_storage_class }}
  resources:
    requests:
      storage: {{ prowlarr_k8s_flaresolverr_size }}
