{% from 'traefik.yml.j2' import labels with context %}
{% from 'autokuma.yml.j2' import labels as kuma with context %}
---
version: '3.8'
services:
  scrutiny:
    container_name: scrutiny
    image: ghcr.io/analogj/scrutiny:master-omnibus
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    cap_add:
      - SYS_RAWIO
      - SYS_ADMIN
    volumes:
      - /run/udev:/run/udev:ro
      - ./config:/opt/scrutiny/config
      - ./influxdb:/opt/scrutiny/influxdb
    devices:
      - /dev/nvme0:/dev/nvme0
    networks:
{% for net in container_item.networks | default([docker_network]) %}
      - {{ net }}
{% endfor %}
    healthcheck:
      test: curl --fail -s http://localhost:8080/api/health || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      {# Generate labels(container, port, docker_network, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          (container_item.networks | default([docker_network]))[0],
          container_item.use_authelia
        )
      }}
      {{ kuma(container_item.name) }}

networks:
{% for net in container_item.networks | default([docker_network]) %}
  {{ net }}:
    external: true
{% endfor %}
