http:
 #region routers 
  routers:
    syncthing:
      entryPoints:
        - "https"
      rule: "Host(`syncthing.[REMOVED_KEY]`)"
      middlewares:
        - default-headers
      tls: {}
      service: syncthing

#endregion
#region services
  services:
    syncthing:
      loadBalancer:
        servers:
          - url: "https://192.168.50.24:8384"
        passHostHeader: true

#endregion
  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https

    crowdsec-bouncer:
      forwardauth:
        address: http://bouncer-traefik:8080/api/v1/forwardAuth
        trustForwardHeader: true

    default-headers:
      headers:
        frameDeny: true
        sslRedirect: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https
