version: '3'

services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - {{ env.DOCKER_NETWORK}}
    ports:
      - 80:80
      - 443:443
    environment:
      - CF_API_EMAIL={{ env.EMAIL }}
      - CF_DNS_API_TOKEN={{ env.CLOUDFLARE_DNS_TOKEN }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /home/{{ env.SYS_USER }}/server/traefik/data/traefik.yml:/traefik.yml:ro
      - /home/{{ env.SYS_USER }}/server/traefik/data/acme.json:/acme.json
      - /home/{{ env.SYS_USER }}/server/traefik/data/config.yml:/config.yml:ro
      - traefik-logs:/var/log/traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.entrypoints=http"
      - "traefik.http.routers.traefik.rule=Host(`traefik-dashboard.{{ env.DOMAIN }}`)"
      - "traefik.http.middlewares.traefik-auth.basicauth.users={{ traefik_hash.stdout | replace("$","$$")}}"
      - "traefik.http.middlewares.traefik-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.routers.traefik.middlewares=traefik-https-redirect"
      - "traefik.http.routers.traefik-secure.entrypoints=https"
      - "traefik.http.routers.traefik-secure.rule=Host(`traefik-dashboard.{{ env.DOMAIN }}`)"
      - "traefik.http.routers.traefik-secure.middlewares=traefik-auth"
      - "traefik.http.routers.traefik-secure.tls=true"
      - "traefik.http.routers.traefik-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.traefik-secure.service=api@internal"
      - 'traefik.http.routers.traefik-secure.middlewares=authelia@docker'

      # Certificates
      - "traefik.http.routers.traefik-secure.tls.domains[0].main={{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=traefik-dashboard.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=portainer.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=auth.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=code-server.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=freshrss.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=librespeed.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=heimdall.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=uptime-kuma.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=pihole.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=syncthing.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=filebrowser.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=guacamole.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=prometheus.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=grafana.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=netdata.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=qbittorrent.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=prowlarr.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=sonarr.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=radarr.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=jellyfin.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=homeassistant.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=scrutiny.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=emulatorjs.{{ env.DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=crowdsec.{{ env.DOMAIN }}"

networks:
  {{ env.DOCKER_NETWORK}}:
    external: true
volumes:
  traefik-logs:
