version: '3.8'
services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - {{ DOCKER_NETWORK }}
    ports:
      - 80:80
      - 443:443
    environment:
      - CF_API_EMAIL={{ EMAIL }}
      - CF_DNS_API_TOKEN={{ CLOUDFLARE_DNS_TOKEN }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data/traefik.yml:/traefik.yml:ro
      - ./data/acme.json:/acme.json
      - ./data/config.yml:/config.yml:ro
      - traefik-logs:/var/log/traefik
    healthcheck:
      test: traefik healthcheck
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Setup HTTP entrypoint
      - "traefik.http.routers.traefik.entrypoints=http"
      - "traefik.http.routers.traefik.rule=Host(`traefik.{{ DOMAIN }}`)"
      # Redirect HTTP to HTTPS
      - "traefik.http.middlewares.traefik-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.routers.traefik.middlewares=traefik-https-redirect"
      # Setup HTTPS entrypoint
      - "traefik.http.routers.traefik-secure.entrypoints=https"
      - "traefik.http.routers.traefik-secure.rule=Host(`traefik.{{ DOMAIN }}`)"
      - "traefik.http.routers.traefik-secure.tls=true"
      - "traefik.http.routers.traefik-secure.service=api@internal"
      # Setup Basic Auth(not hit with authelia 2fa)
      - "traefik.http.middlewares.traefik-auth.basicauth.users={{ traefik_hash.stdout | replace("$","$$")}}"
      - "traefik.http.routers.traefik-secure.middlewares=traefik-auth"
      # Add authelia
      - 'traefik.http.routers.traefik-secure.middlewares=authelia@docker'

      # Certificates
      - "traefik.http.routers.traefik-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main={{ DOMAIN }}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].sans=*.{{ DOMAIN }}" # Cloudflare only allows for wildcard certificates 1 level deep for free, so add expicit records for sub-subdomains.
networks:
  {{ DOCKER_NETWORK }}:
    external: true
volumes:
  traefik-logs:
