api:
  dashboard: true
  insecure: true
  debug: true
ping: {}
entryPoints:
  http:
    address: ":80"
    http:
      middlewares:
        - crowdsec-bouncer@file
  https:
    address: ":443"
    http:
      middlewares:
        - crowdsec-bouncer@file
  minecraft:
    address: ":25565"
  ping:
    address: ":8082"

serversTransport:
  insecureSkipVerify: true
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    filename: /config.yml
certificatesResolvers:
  cloudflare:
    acme:
      email: {{ EMAIL }}
      storage: acme.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "9.9.9.9:53"
          - "149.112.112.112:53"
log:
  level: "INFO"
  filePath: "/var/log/traefik/traefik.log"
accessLog:
  filePath: "/var/log/traefik/access.log"
