---
version: '3.8'
services:
  file-browser:
    image: filebrowser/filebrowser:latest
    container_name: file-browser
    user: {{ PUID }}:{{ PGID }}
    ports:
      - 8081:80
    volumes:
      - /home/{{ SYS_USER }}/server/:/srv
      - ./data/file-browser.db:/database.db
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - {{ DOCKER_NETWORK }}
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Setup HTTP entrypoint
      - "traefik.http.routers.file-browser.entrypoints=http"
      - "traefik.http.routers.file-browser.rule=Host(`file-browser.{{ DOMAIN }}`)"
      # Redirect HTTP to HTTPS
      - "traefik.http.middlewares.file-browser-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.file-browser.middlewares=file-browser-https-redirect"
      # Setup HTTPS entrypoint
      - "traefik.http.routers.file-browser-secure.entrypoints=https"
      - "traefik.http.routers.file-browser-secure.rule=Host(`file-browser.{{ DOMAIN }}`)"
      - "traefik.http.routers.file-browser-secure.tls=true"
      # Setup port forwarding to internal port
      - "traefik.http.routers.file-browser-secure.service=file-browser"
      - "traefik.http.services.file-browser.loadbalancer.server.port=80"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"
      # Add authelia
      - 'traefik.http.routers.file-browser-secure.middlewares=authelia@docker'

networks:
  {{ DOCKER_NETWORK }}:
    external: true
