{% from 'traefik.yml.j2' import labels with context %}
---
version: '3.8'
services:
  file-browser:
    image: filebrowser/filebrowser:latest
    container_name: file-browser
    user: {{ PUID }}:{{ PGID }}
    ports:
      - 8081:80
    volumes:
      - /home/{{ SYS_USER }}/server/:/srv
      - ./data/file-browser.db:/database.db
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - {{ DOCKER_NETWORK }}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/health"]
      interval: 30s
      timeout: 20s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"

      {# Generate labels(container_name, port, use_authelia) -#}
      {{ labels(container, '80', 'y') }}

networks:
  {{ DOCKER_NETWORK }}:
    external: true
