version: "3"
services:
  prometheus:
    image: prom/prometheus
    restart: always
    volumes:
     - /home/{{ env.SYS_USER }}/server/monitoring/prometheus/:/etc/prometheus/
    ports:
     - 9090:9090
    networks:
      - {{ env.DOCKER_NETWORK}}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prometheus.entrypoints=http"
      - "traefik.http.routers.prometheus.rule=Host(`prometheus.{{ env.DOMAIN }}`)"
      - "traefik.http.middlewares.prometheus-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.prometheus.middlewares=prometheus-https-redirect"
      - "traefik.http.routers.prometheus-secure.entrypoints=https"
      - "traefik.http.routers.prometheus-secure.rule=Host(`prometheus.{{ env.DOMAIN }}`)"
      - "traefik.http.routers.prometheus-secure.tls=true"
      - "traefik.http.routers.prometheus-secure.service=prometheus"
      - "traefik.http.services.prometheus.loadbalancer.server.port=9090"
      - "traefik.docker.network={{ env.DOCKER_NETWORK }}"
      - 'traefik.http.routers.prometheus-secure.middlewares=authelia@docker'
  grafana:
    image: grafana/grafana
    user: "{{ env.PUID }}"
    restart: always
    volumes:
      - /home/{{ env.SYS_USER }}/server/monitoring/grafana:/var/lib/grafana
    ports:
     - "3000:3000"
    networks:
      - {{ env.DOCKER_NETWORK}}
    depends_on:
      - prometheus
  netdata:
    image: netdata/netdata
    restart: always
    hostname: ubuntu # set to fqdn of host
    ports:
      - 19999:19999
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    networks:
      - {{ env.DOCKER_NETWORK}}
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

networks:
  {{ env.DOCKER_NETWORK}}:
    external: true
