{% from 'traefik.yml.j2' import labels with context %}
{% from 'autokuma.yml.j2' import labels as kuma with context %}
{% from 'healthcheck.yml.j2' import healthcheck %}
---
services:
  littlelink:
    image: ghcr.io/techno-tim/littlelink-server:latest
    container_name: littlelink
    environment:
      - META_TITLE=Daniel Hunter
      - META_DESCRIPTION=Software Engineer
      - META_AUTHOR=Daniel Hunter
      - META_KEYWORDS=Engineering
      - LANG=en
      - META_INDEX_STATUS=all
      - OG_SITE_NAME=Daniel Hunter
      - OG_TITLE=Daniel Hunter
      - OG_DESCRIPTION=The home of Daniel Hunter
      - OG_URL=https://www.{{ domain }}
      - OG_IMAGE=https://i.imgur.com/HAq1SNZ.jpg
      - OG_IMAGE_WIDTH=400
      - OG_IMAGE_HEIGHT=400
      - THEME=Dark
      - FAVICON_URL=https://i.imgur.com/HAq1SNZ.jpg
      - AVATAR_URL=https://i.imgur.com/HAq1SNZ.jpg
      - AVATAR_2X_URL=https://i.imgur.com/HAq1SNZ.jpg
      - AVATAR_ALT=Daniel Hunter Profile Pic
      - NAME=Daniel Hunter
      - BIO=Software Engineer @ Capital One
      # use ENV variable names for order, listed buttons will be boosted to the top
      - BUTTON_ORDER=GITHUB,LINKED_IN
      - GITHUB=https://github.com/DanielH2018
      - LINKED_IN=https://www.linkedin.com/in/danielrhunter/
    networks:
{% for net in container_item.networks | default([docker_network]) %}
      - {{ net }}
{% endfor %}
    {{ healthcheck('wget --no-verbose --tries=1 --spider http://localhost:3000/ || exit 1') }}
    restart: unless-stopped
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    labels:
      {# Generate labels(container, port, docker_network, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          (container_item.networks | default([docker_network]))[0],
          container_item.use_authelia
        )
      }}
      {{ kuma(container_item.name) }}
    # Resource caps for blast-radius containment (M1); tune from cAdvisor/Grafana.
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 128M
        reservations:
          cpus: '0.05'
          memory: 16M

networks:
{% for net in container_item.networks | default([docker_network]) %}
  {{ net }}:
    external: true
{% endfor %}
