{% from 'traefik.yml.j2' import labels with context %}
---
version: "3.0"
services:
  littlelink:
    image: ghcr.io/techno-tim/littlelink-server:latest
    container_name: littlelink
    environment:
      - META_TITLE=Daniel Hunter
      - META_DESCRIPTION=Software Engineer
      - META_AUTHOR=Daniel Hunter
      - META_KEYWORDS=Engineering
      - LANG=en
      - META_INDEX_STATUS=all
      - OG_SITE_NAME=Daniel Hunter
      - OG_TITLE=Daniel Hunter
      - OG_DESCRIPTION=The home of Daniel Hunter
      - OG_URL=https://www.{{ domain }}
      - OG_IMAGE=https://i.imgur.com/HAq1SNZ.jpg
      - OG_IMAGE_WIDTH=400
      - OG_IMAGE_HEIGHT=400
      - THEME=Dark
      - FAVICON_URL=https://i.imgur.com/HAq1SNZ.jpg
      - AVATAR_URL=https://i.imgur.com/HAq1SNZ.jpg
      - AVATAR_2X_URL=https://i.imgur.com/HAq1SNZ.jpg
      - AVATAR_ALT=Daniel Hunter Profile Pic
      - NAME=Daniel Hunter
      - BIO=Software Engineer @ Capital One
      # use ENV variable names for order, listed buttons will be boosted to the top
      - BUTTON_ORDER=GITHUB,LINKED_IN
      - GITHUB=https://github.com/DanielH2018
      - LINKED_IN=https://www.linkedin.com/in/danielrhunter/
    networks:
      - {{ docker_network }}
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:3000/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    labels:
      {# Generate labels(container, port, docker_network, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          docker_network,
          container_item.use_authelia
        )
      }}

networks:
  {{ docker_network }}:
    external: true
