{% macro labels(container, port=none, name=none, url=none, monitor_type='docker', interval=60, max_retries=2, push_token=none, notify=true, hostname=none, extra_notifications=none) -%}
{% set _name = name if name is not none else container | replace('-', ' ') | title -%}
{% if monitor_type == 'docker' -%}
      - "kuma.{{ container }}.docker.name={{ _name }}"
      - "kuma.{{ container }}.docker.docker_container={{ container }}"
      - "kuma.{{ container }}.docker.docker_host={{ kuma_docker_host | string }}"
      - "kuma.{{ container }}.docker.interval={{ interval | string }}"
      - "kuma.{{ container }}.docker.maxretries={{ max_retries | string }}"
{% if notify and kuma_notification_id is defined and kuma_notification_id %}      - 'kuma.{{ container }}.docker.notification_name_list={{ ([kuma_notification_id] + (extra_notifications or [])) | tojson }}'
{% endif -%}
{%- elif monitor_type == 'push' -%}
      - "kuma.{{ container }}.push.name={{ _name }}"
      - "kuma.{{ container }}.push.interval={{ interval | string }}"
      - "kuma.{{ container }}.push.max_retries={{ max_retries | string }}"
{% if push_token is not none %}      - "kuma.{{ container }}.push.push_token={{ push_token }}"
{% endif -%}
{% if notify and kuma_notification_id is defined and kuma_notification_id %}      - 'kuma.{{ container }}.push.notification_name_list={{ ([kuma_notification_id] + (extra_notifications or [])) | tojson }}'
{% endif -%}
{%- elif monitor_type == 'port' -%}
      - "kuma.{{ container }}.port.name={{ _name }}"
      - "kuma.{{ container }}.port.hostname={{ hostname }}"
      - "kuma.{{ container }}.port.port={{ port | string }}"
      - "kuma.{{ container }}.port.interval={{ interval | string }}"
      - "kuma.{{ container }}.port.maxretries={{ max_retries | string }}"
{% if notify and kuma_notification_id is defined and kuma_notification_id %}      - 'kuma.{{ container }}.port.notification_name_list={{ ([kuma_notification_id] + (extra_notifications or [])) | tojson }}'
{% endif -%}
{%- else -%}
{% set _url = url if url is not none else 'http://' ~ container ~ ':' ~ port -%}
      - "kuma.{{ container }}.http.name={{ _name }}"
      - "kuma.{{ container }}.http.url={{ _url }}"
      - "kuma.{{ container }}.http.interval={{ interval | string }}"
      - "kuma.{{ container }}.http.maxretries={{ max_retries | string }}"
{% if notify and kuma_notification_id is defined and kuma_notification_id %}      - 'kuma.{{ container }}.http.notification_name_list={{ ([kuma_notification_id] + (extra_notifications or [])) | tojson }}'
{% endif -%}
{%- endif %}
{%- endmacro %}
