{% macro labels(container, port, docker_network, authelia, insecure_transport=false) -%}
      - "traefik.enable=true"
      - "traefik.docker.network={{ docker_network }}"
      - "traefik.http.routers.{{ container }}.entrypoints=http"
      - "traefik.http.routers.{{ container }}.rule=Host(`{{ container }}.{{ domain }}`) || Host(`{{ container }}.local.{{ domain }}`)"
      - "traefik.http.routers.{{ container }}-secure.entrypoints=https"
      - "traefik.http.routers.{{ container }}-secure.rule=Host(`{{ container }}.{{ domain }}`) || Host(`{{ container }}.local.{{ domain }}`)"
      - "traefik.http.routers.{{ container }}-secure.tls=true"
      - "traefik.http.routers.{{ container }}-secure.service={{ container }}"
      - "traefik.http.services.{{ container }}.loadbalancer.server.port={{ port }}"
      {% if authelia -%}
      - "traefik.http.routers.{{ container }}-secure.middlewares=authelia@docker"
      {%- endif %}
      {% if insecure_transport -%}
      - "traefik.http.services.{{ container }}.loadbalancer.server.scheme=https"
      - "traefik.http.services.{{ container }}.loadbalancer.serversTransport=insecure-transport"
      {%- endif %}
{%- endmacro %}
