{% macro labels(container, port, authelia) -%}
      # Setup HTTP entrypoint
      - "traefik.http.routers.{{ container }}.entrypoints=http"
      # Update: Listen for both Public AND Local domains
      - "traefik.http.routers.{{ container }}.rule=Host(`{{ container }}.{{ DOMAIN }}`) || Host(`{{ container }}.local.{{ DOMAIN }}`)"
      # Redirect HTTP to HTTPS
      - "traefik.http.middlewares.{{ container }}-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.{{ container }}.middlewares={{ container }}-https-redirect"
      # Setup HTTPS entrypoint
      - "traefik.http.routers.{{ container }}-secure.entrypoints=https"
      # Update: Listen for both Public AND Local domains (HTTPS)
      - "traefik.http.routers.{{ container }}-secure.rule=Host(`{{ container }}.{{ DOMAIN }}`) || Host(`{{ container }}.local.{{ DOMAIN }}`)"
      - "traefik.http.routers.{{ container }}-secure.tls=true"
      # Setup port forwarding to internal port
      - "traefik.http.routers.{{ container }}-secure.service={{ container }}"
      - "traefik.http.services.{{ container }}.loadbalancer.server.port={{ port }}"
      {% if authelia == 'y' -%}    
        # Add authelia
      - 'traefik.http.routers.{{ container }}-secure.middlewares=authelia@docker'
      {%- endif %}
{%- endmacro %}
