---
version: "3.8"

services:
  foundry:
    image: direckthit/fvtt-docker:latest
    container_name: foundry
    volumes:
      - ./data:/data/foundryvtt
      - ./foundrydl:/host
    ports:
      - 30000:30000
    restart: unless-stopped
    networks:
      - {{ DOCKER_NETWORK }}
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:30000/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Setup HTTP entrypoint
      - "traefik.http.routers.foundry.entrypoints=http"
      - "traefik.http.routers.foundry.rule=Host(`foundry.{{ DOMAIN }}`)"
      # Redirect HTTP to HTTPS
      - "traefik.http.middlewares.foundry-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.foundry.middlewares=foundry-https-redirect"
      # Setup HTTPS entrypoint
      - "traefik.http.routers.foundry-secure.entrypoints=https"
      - "traefik.http.routers.foundry-secure.rule=Host(`foundry.{{ DOMAIN }}`)"
      - "traefik.http.routers.foundry-secure.tls=true"
      # Setup port forwarding to internal port
      - "traefik.http.routers.foundry-secure.service=foundry"
      - "traefik.http.services.foundry.loadbalancer.server.port=30000"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"

networks:
  {{ DOCKER_NETWORK }}:
    external: true
