version: '3.8'
services:
  minecraft:
    image: itzg/minecraft-server
    container_name: minecraft
    environment:
      EULA: "true"
      ENABLE_RCON: "true"
      TYPE: PAPER
      VIEW_DISTANCE: 10
      MEMORY: 750m
      CONSOLE: "false"
      ENABLE_AUTOPAUSE: "TRUE"
      TZ: {{ env.TZ }}
    ports:
      - 25566:25565
    volumes:
      - /home/{{ env.SYS_USER }}/server/minecraft/data:/data
    restart: unless-stopped
    networks:
      - {{ env.DOCKER_NETWORK}}
    labels:
      - "traefik.enable=true"
      - "traefik.tcp.routers.minecraft.entrypoints=tcp"
      - "traefik.tcp.routers.minecraft.tls=true"
      - "traefik.tcp.routers.minecraft.rule=HostSNI(`minecraft.{{ env.DOMAIN }}`)"
      - "traefik.tcp.services.minecraft.loadbalancer.server.port=25565"
      - "traefik.docker.network={{ env.DOCKER_NETWORK }}"

networks:
  {{ env.DOCKER_NETWORK}}:
    external: true