version: '3.8'
services:
  minecraft:
    image: itzg/minecraft-server:latest
    container_name: minecraft
    environment:
      EULA: "true"
      ENABLE_RCON: "false"
      VIEW_DISTANCE: 15
      MEMORY: 8G
      CONSOLE: "false"
      #ENABLE_AUTOPAUSE: "TRUE"
      TZ: {{ TZ }}
      VERSION: "1.20"
      ENABLE_COMMAND_BLOCK: "true"
      SPAWN_PROTECTION: 0
      ALLOW_FLIGHT: "TRUE"
      MOD_PLATFORM: AUTO_CURSEFORGE
      CF_API_KEY: "{{ CURSE_API_KEY }}"
      CF_FORCE_SYNCHRONIZE: "true"
      CF_PAGE_URL: https://www.curseforge.com/minecraft/modpacks/valhelsia-6/files/4759091
    ports:
      - 25565:25565
    volumes:
      - ./data:/data
    restart: unless-stopped
