{% from 'traefik.yml.j2' import labels with context %}
---
version: "3.8"
services:
  home-assistant:
    image: lscr.io/linuxserver/homeassistant:latest
    container_name: home-assistant
    environment:
      - PUID={{ puid }}
      - PGID={{ puid }}
      - TZ={{ tz }}
      - DOCKER_MODS=linuxserver/mods:homeassistant-hacs
    volumes:
      - ./config:/config
    restart: unless-stopped
    networks:
      - {{ docker_network }}
    healthcheck:
      test: curl --fail -s http://localhost:8123/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ docker_network }}"

      {# Generate labels(container, port, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          container_item.use_authelia
        )
      }}

networks:
  {{ docker_network }}:
    external: true
