version: "2"
services:
  nordvpn:
    image: ghcr.io/bubuntux/nordvpn
    container_name: nordvpn
    cap_add:
      - NET_ADMIN
    environment:                # Review https://github.com/bubuntux/nordvpn#environment-variables
      - USER={{ env.NORDVPN_USER }}
      - "PASS={{ env.NORDVPN_PASSWORD }}"
      - CONNECT=United_States
      - TECHNOLOGY=NordLynx
      - WHITELIST=showrss.info,rarbg.to,yts.mx
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1  # Recomended if using ipv4 only
    ports:
      - 8080:8080
      - 9696:9696
      - 8989:8989
      - 7878:7878
    networks:
      - {{ env.DOCKER_NETWORK}}

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent
    container_name: qbittorrent
    network_mode: service:nordvpn
    depends_on:
      - nordvpn
    environment:
      - PUID={{ env.PUID }}
      - PGID={{ env.PGID }}
      - TZ={{ env.TZ }}
      - UMASK_SET=022
      - WEBUI_PORT=8080
    volumes:
      - /home/{{ env.SYS_USER }}/qbittorrent/config:/config
      - /home/{{ env.SYS_USER }}/server/library/downloads:/downloads
      - /home/{{ env.SYS_USER }}/server/library/tvseries:/data/tvshows
      - /home/{{ env.SYS_USER }}/server/library/movies:/data/movies
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.qbittorrent.entrypoints=http"
      - "traefik.http.routers.qbittorrent.rule=Host(`qbittorrent.{{ env.DOMAIN }}`)"
      - "traefik.http.middlewares.qbittorrent-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.qbittorrent.middlewares=qbittorrent-https-redirect"
      - "traefik.http.routers.qbittorrent-secure.entrypoints=https"
      - "traefik.http.routers.qbittorrent-secure.rule=Host(`qbittorrent.{{ env.DOMAIN }}`)"
      - "traefik.http.routers.qbittorrent-secure.tls=true"
      - "traefik.http.routers.qbittorrent-secure.service=qbittorrent"
      - "traefik.http.services.qbittorrent.loadbalancer.server.port=8080"
      - "traefik.docker.network={{ env.DOCKER_NETWORK }}"
      - 'traefik.http.routers.qbittorrent-secure.middlewares=authelia@docker'

  prowlarr:
    image: linuxserver/prowlarr:develop
    container_name: prowlarr
    environment:
      - PUID={{ env.PUID }}
      - PGID={{ env.PGID }}
      - TZ={{ env.TZ }}
    volumes:
      - /home/{{ env.SYS_USER }}/prowlarr/config:/config
    restart: unless-stopped
    network_mode: service:nordvpn
    depends_on:
      - nordvpn
      - qbittorrent
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prowlarr.entrypoints=http"
      - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.{{ env.DOMAIN }}`)"
      - "traefik.http.middlewares.prowlarr-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.prowlarr.middlewares=prowlarr-https-redirect"
      - "traefik.http.routers.prowlarr-secure.entrypoints=https"
      - "traefik.http.routers.prowlarr-secure.rule=Host(`prowlarr.{{ env.DOMAIN }}`)"
      - "traefik.http.routers.prowlarr-secure.tls=true"
      - "traefik.http.routers.prowlarr-secure.service=prowlarr"
      - "traefik.http.services.prowlarr.loadbalancer.server.port=9696"
      - "traefik.docker.network={{ env.DOCKER_NETWORK }}"
      - 'traefik.http.routers.prowlarr-secure.middlewares=authelia@docker'
            
  sonarr:
    image: lscr.io/linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID={{ env.PUID }}
      - PGID={{ env.PGID }}
      - TZ={{ env.TZ }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /home/{{ env.SYS_USER }}/sonarr/config:/config
      - /home/{{ env.SYS_USER }}/server/library/downloads:/downloads
      - /home/{{ env.SYS_USER }}/server/library/tvseries:/tv
    restart: unless-stopped
    network_mode: service:nordvpn
    depends_on:
      - prowlarr
      - qbittorrent
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.entrypoints=http"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.{{ env.DOMAIN }}`)"
      - "traefik.http.middlewares.sonarr-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.sonarr.middlewares=sonarr-https-redirect"
      - "traefik.http.routers.sonarr-secure.entrypoints=https"
      - "traefik.http.routers.sonarr-secure.rule=Host(`sonarr.{{ env.DOMAIN }}`)"
      - "traefik.http.routers.sonarr-secure.tls=true"
      - "traefik.http.routers.sonarr-secure.service=sonarr"
      - "traefik.http.services.sonarr.loadbalancer.server.port=8989"
      - "traefik.docker.network={{ env.DOCKER_NETWORK }}"
      - 'traefik.http.routers.sonarr-secure.middlewares=authelia@docker'

  radarr:
    image: lscr.io/linuxserver/radarr
    container_name: radarr
    environment:
      - PUID={{ env.PUID }}
      - PGID={{ env.PGID }}
      - TZ={{ env.TZ }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /home/{{ env.SYS_USER }}/radarr/config:/config
      - /home/{{ env.SYS_USER }}/server/library/movies:/movies
      - /home/{{ env.SYS_USER }}/server/library/downloads:/downloads
    restart: unless-stopped
    network_mode: service:nordvpn
    depends_on:
      - prowlarr
      - qbittorrent
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.entrypoints=http"
      - "traefik.http.routers.radarr.rule=Host(`radarr.{{ env.DOMAIN }}`)"
      - "traefik.http.middlewares.radarr-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.radarr.middlewares=radarr-https-redirect"
      - "traefik.http.routers.radarr-secure.entrypoints=https"
      - "traefik.http.routers.radarr-secure.rule=Host(`radarr.{{ env.DOMAIN }}`)"
      - "traefik.http.routers.radarr-secure.tls=true"
      - "traefik.http.routers.radarr-secure.service=radarr"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
      - "traefik.docker.network={{ env.DOCKER_NETWORK }}"
      - 'traefik.http.routers.radarr-secure.middlewares=authelia@docker'

networks:
  {{ env.DOCKER_NETWORK}}:
    external: true
