version: "3.8"
services:
  nordlynx:
    image: ghcr.io/bubuntux/nordlynx:latest
    container_name: nordlynx
    restart: unless-stopped
    cap_add:
      - NET_ADMIN #required
    environment:
      - PRIVATE_KEY={{ NORDVPN_KEY }}
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1  # Recomended if using ipv4 only
    ports:
      - 8080:8080 # qBittorrent
      - 9696:9696 # Prowlarr
      - 8989:8989 # Sonarr
      - 7878:7878 # Radarr
    networks:
      - {{ DOCKER_NETWORK }}
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: service:nordlynx # 8080
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ TZ }}
      - UMASK_SET=022
      - WEBUI_PORT=8080
    volumes:
      - ./qbittorrent/config:/config
      - /home/{{ SYS_USER }}/server/media/library/downloads:/downloads
      - /home/{{ SYS_USER }}/server/media/library/tvseries:/data/tvshows
      - /home/{{ SYS_USER }}/server/media/library/movies:/data/movies
    restart: unless-stopped
    healthcheck:
      test: curl --fail -s http://localhost:8080/ || exit 1 && curl -fIsS http://wikipedia.org/|| exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Setup HTTP entrypoint
      - "traefik.http.routers.qbittorrent.entrypoints=http"
      - "traefik.http.routers.qbittorrent.rule=Host(`qbittorrent.{{ DOMAIN }}`)"
      # Redirect HTTP to HTTPS
      - "traefik.http.middlewares.qbittorrent-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.qbittorrent.middlewares=qbittorrent-https-redirect"
      # Setup HTTPS entrypoint
      - "traefik.http.routers.qbittorrent-secure.entrypoints=https"
      - "traefik.http.routers.qbittorrent-secure.rule=Host(`qbittorrent.{{ DOMAIN }}`)"
      - "traefik.http.routers.qbittorrent-secure.tls=true"
      # Setup port forwarding to internal port
      - "traefik.http.routers.qbittorrent-secure.service=qbittorrent"
      - "traefik.http.services.qbittorrent.loadbalancer.server.port=8080"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"
      # Add authelia
      - 'traefik.http.routers.qbittorrent-secure.middlewares=authelia@docker'
    depends_on:
      - nordlynx
  prowlarr:
    image: linuxserver/prowlarr:develop
    container_name: prowlarr
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ TZ }}
    volumes:
      - ./prowlarr/config:/config
    restart: unless-stopped
    network_mode: service:nordlynx # Port 9696
    healthcheck:
      test: curl --fail -s http://localhost:9696/ || exit 1 && curl -fIsS http://wikipedia.org/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Setup HTTP entrypoint
      - "traefik.http.routers.prowlarr.entrypoints=http"
      - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.{{ DOMAIN }}`)"
      # Redirect HTTP to HTTPS
      - "traefik.http.middlewares.prowlarr-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.prowlarr.middlewares=prowlarr-https-redirect"
      # Setup HTTPS entrypoint
      - "traefik.http.routers.prowlarr-secure.entrypoints=https"
      - "traefik.http.routers.prowlarr-secure.rule=Host(`prowlarr.{{ DOMAIN }}`)"
      - "traefik.http.routers.prowlarr-secure.tls=true"
      # Setup port forwarding to internal port
      - "traefik.http.routers.prowlarr-secure.service=prowlarr"
      - "traefik.http.services.prowlarr.loadbalancer.server.port=9696"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"
      # Add authelia
      - 'traefik.http.routers.prowlarr-secure.middlewares=authelia@docker'
    depends_on:
      - nordlynx
      - qbittorrent
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ TZ }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./sonarr/config:/config
      - /home/{{ SYS_USER }}/server/media/library/downloads:/downloads
      - /home/{{ SYS_USER }}/server/media/library/tvseries:/tv
    restart: unless-stopped
    network_mode: service:nordlynx # Port 8989
    healthcheck:
      test: curl --fail -s http://localhost:8989/ || exit 1 && curl -fIsS http://wikipedia.org/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Setup HTTP entrypoint
      - "traefik.http.routers.sonarr.entrypoints=http"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.{{ DOMAIN }}`)"
      # Redirect HTTP to HTTPS
      - "traefik.http.middlewares.sonarr-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.sonarr.middlewares=sonarr-https-redirect"
      # Setup HTTPS entrypoint
      - "traefik.http.routers.sonarr-secure.entrypoints=https"
      - "traefik.http.routers.sonarr-secure.rule=Host(`sonarr.{{ DOMAIN }}`)"
      - "traefik.http.routers.sonarr-secure.tls=true"
      # Setup port forwarding to internal port
      - "traefik.http.routers.sonarr-secure.service=sonarr"
      - "traefik.http.services.sonarr.loadbalancer.server.port=8989"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"
      # Add authelia
      - 'traefik.http.routers.sonarr-secure.middlewares=authelia@docker'
    depends_on:
      - prowlarr
      - qbittorrent
  radarr:
    image: lscr.io/linuxserver/radarr
    container_name: radarr
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ TZ }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./radarr/config:/config
      - /home/{{ SYS_USER }}/server/media/library/movies:/movies
      - /home/{{ SYS_USER }}/server/media/library/downloads:/downloads
    restart: unless-stopped
    network_mode: service:nordlynx # Port 7878
    healthcheck:
      test: curl --fail -s http://localhost:7878/ || exit 1 && curl -fIsS http://wikipedia.org/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Setup HTTP entrypoint
      - "traefik.http.routers.radarr.entrypoints=http"
      - "traefik.http.routers.radarr.rule=Host(`radarr.{{ DOMAIN }}`)"
      # Redirect HTTP to HTTPS
      - "traefik.http.middlewares.radarr-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.radarr.middlewares=radarr-https-redirect"
      # Setup HTTPS entrypoint
      - "traefik.http.routers.radarr-secure.entrypoints=https"
      - "traefik.http.routers.radarr-secure.rule=Host(`radarr.{{ DOMAIN }}`)"
      - "traefik.http.routers.radarr-secure.tls=true"
      # Setup port forwarding to internal port
      - "traefik.http.routers.radarr-secure.service=radarr"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"
      # Add authelia
      - 'traefik.http.routers.radarr-secure.middlewares=authelia@docker'
    depends_on:
      - prowlarr
      - qbittorrent

networks:
  {{ DOCKER_NETWORK }}:
    external: true
