version: '3.8'
services:
  minecraft:
    image: itzg/minecraft-server:latest
    container_name: minecraft
    networks:
      - {{ docker_network }}
    environment:
      EULA: "true"
      TYPE: FABRIC
      ENABLE_RCON: "false"
      VIEW_DISTANCE: 15
      MEMORY: 16G
      CONSOLE: "false"
      #ENABLE_AUTOPAUSE: "TRUE"
      tz: {{ tz }}
      VERSION: "1.21.10"
      ENABLE_COMMAND_BLOCK: "true"
      SPAWN_PROTECTION: 0
      ALLOW_FLIGHT: "TRUE"
      # DittoHippo11 # Sophie
      # CurrentlyBroke # IDK
      # PoutyPicklez # Anna
      # handel6619 # Nick
      # LordAlpaca57 # Marco
      WHITELIST: |
        DBoy13
        hannahcevs
        CryingPie
        Hei_Jman
        PoutyPicklez
        handel6619
        LordAlpaca57
        V1RuSWasNotTaken
        Haovk
        DittoHippo11
        CurrentlyBroke
        deathknightmm
    volumes:
      - ./data:/data
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    labels:
      - "traefik.enable=true"
      - "traefik.tcp.routers.minecraft.entrypoints=minecraft"
      - "traefik.tcp.routers.minecraft.rule=HostSNI(`*`)"
      - "traefik.tcp.services.minecraft.loadbalancer.server.port=25565"
    restart: unless-stopped

networks:
  {{ docker_network }}:
    external: true
