{% from 'traefik.yml.j2' import labels with context %}
---
version: "3.8"
services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ TZ }}
      - JELLYFIN_PublishedServerUrl={{ SERVER_IP }} #optional
      - DOCKER_MODS=linuxserver/mods:jellyfin-opencl-intel
    volumes:
      - ./config:/config
      - /home/{{ SYS_USER }}/server/media/tvseries:/data/tvshows
      - /home/{{ SYS_USER }}/server/media/movies:/data/movies
    ports:
      - 8096:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
      - 1900:1900/udp #optional
    restart: unless-stopped
    devices:
      - /dev/dri:/dev/dri
    networks:
      - {{ DOCKER_NETWORK }}
    healthcheck:
      test: curl --fail -s http://localhost:8096/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"

      {# Generate labels(container_name, port, use_authelia) -#}
      {{ labels(container, '8096', 'y') }}

networks:
  {{ DOCKER_NETWORK }}:
    external: true
