version: '3.8'
services:
  autoheal:
    restart: unless-stopped
    image: willfarrell/autoheal:latest
    container_name: autoheal
    networks:
      - {{ DOCKER_NETWORK }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  {{ DOCKER_NETWORK }}:
    external: true
