{% from 'autokuma.yml.j2' import labels as kuma with context %}
services:
  autoheal:
    restart: unless-stopped
    image: willfarrell/autoheal:latest
    tty: true
    container_name: autoheal
    security_opt:
      - no-new-privileges:true
    environment:
      - AUTOHEAL_CONTAINER_LABEL=all
      - DOCKER_SOCK=tcp://docker-proxy-lifecycle:2375
    networks:
{% for net in container_item.networks | default([docker_network]) %}
      - {{ net }}
{% endfor %}
    labels:
      # Watchtower
      - "com.centurylinklabs.watchtower.depends-on:docker-proxy-lifecycle"
      {{ kuma(container_item.name) }}

networks:
{% for net in container_item.networks | default([docker_network]) %}
  {{ net }}:
    external: true
{% endfor %}
