version: '3.8'
services:
  autoheal:
    restart: unless-stopped
    image: willfarrell/autoheal:latest
    tty: true
    container_name: autoheal
    environment:
      - AUTOHEAL_CONTAINER_LABEL=autoheal
      - DOCKER_SOCK=tcp://docker-proxy:2375
    networks:
      - {{ docker_network }}
    labels:
      # Watchtower
      - "com.centurylinklabs.watchtower.depends-on:docker-proxy"

networks:
  {{ docker_network }}:
    external: true
