{% from 'arr-deployment.yml.j2' import arr_deployment with context %}
{# additional_metrics is sonarr's alone: the episode collector it gates publishes series
   nothing on radarr or prowlarr has a block behind. See ansible/templates/exportarr.yml.j2. #}
{{ arr_deployment('sonarr',
                  image=sonarr_k8s_image,
                  port=container_item.port,
                  rollout_timeout=sonarr_k8s_rollout_timeout,
                  log_level=sonarr_k8s_log_level,
                  log_rotate=sonarr_k8s_log_rotate,
                  docker_mods=sonarr_k8s_docker_mods,
                  config_claim=sonarr_k8s_claim,
                  media_claim=sonarr_k8s_media_claim,
                  exportarr_image=sonarr_exportarr_image,
                  cpu_limit=sonarr_k8s_cpu_limit,
                  mem_limit=sonarr_k8s_mem_limit,
                  cpu_request=sonarr_k8s_cpu_request,
                  mem_request=sonarr_k8s_mem_request,
                  root_folder='/data/media/tv',
                  additional_metrics=true) }}
