{% from 'traefik.yml.j2' import labels with context %}
---

services:
  bento-pdf:
    image: ghcr.io/alam00000/bentopdf:latest
    container_name: bento-pdf
    ports:
      - "3000:8080"
    restart: unless-stopped
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    networks:
      - {{ docker_network }}
    labels:
      {# Generate labels(container, port, docker_network, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          docker_network,
          container_item.use_authelia
        )
      }}

networks:
  {{ docker_network }}:
    external: true
