{% from 'traefik.yml.j2' import labels with context %}
---
version: "3.8"

services:
  stubby:
    image: mvance/stubby:latest
    container_name: stubby
    restart: unless-stopped
    volumes:
      - './data/stubby/:/opt/stubby/etc/stubby/'
    networks:
      - {{ DOCKER_NETWORK }}

  unbound:
    image: mvance/unbound:1.16.1-stubby
    container_name: unbound
    restart: unless-stopped
    ports:
      - 5353:53/tcp
      - 5353:53/udp
    depends_on:
      - stubby   
    networks:
      {{ DOCKER_NETWORK }}:
        ipv4_address: 172.19.0.255

  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    restart: unless-stopped
    depends_on:
      - unbound
    networks:
      {{ DOCKER_NETWORK }}:
        ipv4_address: 172.19.0.33
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "8052:80/tcp"
      - "8054:443/tcp"
    environment:
      TZ: {{ TZ }}
      WEBPASSWORD: {{ PIHOLE_PASSWORD }}
      ServerIP: {{ SERVER_IP }}
      PIHOLE_DNS_: 172.19.0.255#5353
    volumes:
       - './data/etc-pihole/:/etc/pihole/'
       - './data/etc-dnsmasq.d/:/etc/dnsmasq.d/'
    cap_add:
      - NET_ADMIN
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"

      {# Generate labels(container_name, port, use_authelia) -#}
      {{ labels(container, '80', 'y') }}

networks:
  default:
    external:
      name: {{ DOCKER_NETWORK }}
  {{ DOCKER_NETWORK }}:
    external: true
