version: "3.8"
services:
  watchtower:
    image: nickfedor/watchtower:latest
    container_name: watchtower
    user: {{ puid }}:{{ pgid }}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      DOCKER_HOST: tcp://docker-proxy:2375
      WATCHTOWER_CLEANUP: true
      WATCHTOWER_SCHEDULE: "0 0 4 * * *"
      WATCHTOWER_INCLUDE_RESTARTING: true
      DOCKER_API_VERSION: 1.44
    networks:
      - {{ docker_network }}
    labels:
      # Watchtower
      - "com.centurylinklabs.watchtower.depends-on:docker-proxy"

networks:
  {{ docker_network }}:
    external: true
