{% from 'autokuma.yml.j2' import labels as kuma with context %}

services:
  watchtower:
    image: nickfedor/watchtower:latest
    container_name: watchtower
    user: {{ puid }}:{{ pgid }}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      DOCKER_HOST: tcp://docker-proxy:2375
      WATCHTOWER_CLEANUP: true
      WATCHTOWER_SCHEDULE: "0 0 4 * * *"
      WATCHTOWER_INCLUDE_RESTARTING: true
      DOCKER_API_VERSION: 1.44
    networks:
{% for net in container_item.networks | default([docker_network]) %}
      - {{ net }}
{% endfor %}
    labels:
      # Watchtower
      - "com.centurylinklabs.watchtower.depends-on:docker-proxy"
      {{ kuma(container_item.name) }}

networks:
{% for net in container_item.networks | default([docker_network]) %}
  {{ net }}:
    external: true
{% endfor %}
