version: "3.8"
services:
  radarr:
    image: lscr.io/linuxserver/radarr
    container_name: radarr
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ TZ }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config:/config
      - /home/{{ SYS_USER }}/server/media/movies:/movies
      - /home/{{ SYS_USER }}/server/media/downloads:/downloads
    restart: unless-stopped
    networks:
      - {{ DOCKER_NETWORK }}
    ports:
      - 7878:7878
    healthcheck:
      test: curl --fail -s http://localhost:7878/ || exit 1 && curl -fIsS http://wikipedia.org/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Setup HTTP entrypoint
      - "traefik.http.routers.radarr.entrypoints=http"
      - "traefik.http.routers.radarr.rule=Host(`radarr.{{ DOMAIN }}`)"
      # Redirect HTTP to HTTPS
      - "traefik.http.middlewares.radarr-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.radarr.middlewares=radarr-https-redirect"
      # Setup HTTPS entrypoint
      - "traefik.http.routers.radarr-secure.entrypoints=https"
      - "traefik.http.routers.radarr-secure.rule=Host(`radarr.{{ DOMAIN }}`)"
      - "traefik.http.routers.radarr-secure.tls=true"
      # Setup port forwarding to internal port
      - "traefik.http.routers.radarr-secure.service=radarr"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"
      # Add authelia
      - 'traefik.http.routers.radarr-secure.middlewares=authelia@docker'
    depends_on:
      - prowlarr
      - qbittorrent

networks:
  {{ DOCKER_NETWORK }}:
    external: true
