{% from 'traefik.yml.j2' import labels with context %}
---
version: "3.8"
services:
  radarr:
    image: lscr.io/linuxserver/radarr
    container_name: radarr
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ TZ }}
      - DOCKER_MODS=linuxserver/mods:radarr-striptracks
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config:/config
      - /home/{{ SYS_USER }}/server/data/media/movies:/movies
      - /home/{{ SYS_USER }}/server/data/downloads:/downloads
    restart: unless-stopped
    networks:
      - {{ DOCKER_NETWORK }}
    ports:
      - 7878:7878
    healthcheck:
      test: curl --fail -s http://localhost:7878/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"

      {# Generate labels(container_name, port, use_authelia) -#}
      {{ labels(container, '7878', 'y') }}

networks:
  {{ DOCKER_NETWORK }}:
    external: true
