version: "2"
  prowlarr:
    image: linuxserver/prowlarr:develop
    container_name: prowlarr
    environment:
      - PUID={{ env.PUID }}
      - PGID={{ env.PGID }}
      - TZ={{ env.TZ }}
    volumes:
      - /home/{{ env.SYS_USER }}/server/prowlarr/config:/config
    restart: unless-stopped
    network_mode: service:nordlynx
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prowlarr.entrypoints=http"
      - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.{{ env.DOMAIN }}`)"
      - "traefik.http.middlewares.prowlarr-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.prowlarr.middlewares=prowlarr-https-redirect"
      - "traefik.http.routers.prowlarr-secure.entrypoints=https"
      - "traefik.http.routers.prowlarr-secure.rule=Host(`prowlarr.{{ env.DOMAIN }}`)"
      - "traefik.http.routers.prowlarr-secure.tls=true"
      - "traefik.http.routers.prowlarr-secure.service=prowlarr"
      - "traefik.http.services.prowlarr.loadbalancer.server.port=9696"
      - "traefik.docker.network={{ env.DOCKER_NETWORK }}"
      - 'traefik.http.routers.prowlarr-secure.middlewares=authelia@docker'