{% from 'traefik.yml.j2' import labels with context %}
---
version: "3.8"
services:
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    hostname: node-exporter
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    expose:
      - 9100
    networks:
      - {{ docker_network }}
    healthcheck:
      test: wget --no-verbose --tries=1 -O /dev/null http://localhost:9100/metrics || exit 1
      interval: 30s
      timeout: 10s
      retries: 3

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.49.1
    container_name: cadvisor
    privileged: true
    devices:
      - /dev/kmsg:/dev/kmsg
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    command:
      - '--housekeeping_interval=60s'
      - '--storage_duration=5m'
      - '--docker_only=true'
      - '--disable_metrics=hugetlb,memory_numa,tcp,udp,referenced_memory,disk,diskIO,percpu,sched,process,cpu_topology,perf_event,advtcp'
    networks:
      - {{ docker_network }}
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '0.30'        # Hard Limit: Capped at 30% of one core
          memory: 1000M        # Hard Limit: Max 1000MB RAM
        reservations:
          cpus: '0.10'        # Guarantees it at least 10%
          memory: 100M

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    volumes:
     - ./:/etc/prometheus/
     - prometheus_data:/prometheus
    networks:
      - {{ docker_network }}
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:9090/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ docker_network }}"

      {# Generate labels(container, port, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          container_item.use_authelia
        )
      }}

networks:
  {{ docker_network }}:
    external: true
volumes:
    prometheus_data:
