# my global config
global:
  scrape_interval:     1m
  evaluation_interval: 1m

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      # - alertmanager:9093


scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 1m
    static_configs:
    - targets: ['localhost:9090']

#################################################################################################

  - job_name: 'traefik'
    scrape_interval: 15s
    static_configs:
      - targets: ['traefik:8080']

#################################################################################################

  - job_name: "node"
    scrape_interval: 1m
    static_configs:
    - targets: ["node-exporter:9100"]
    metric_relabel_configs:
      - source_labels: [nodename]
        target_label: "instance"
        action: "replace"

#################################################################################################

  - job_name: "cadvisor"
    scrape_interval: 1m
    static_configs:
    - targets: ["cadvisor:8080"]

#################################################################################################

  - job_name: 'netdata-scrape'
    scrape_interval: 1m
    metrics_path: '/api/v1/allmetrics'
    params:
      format: [prometheus]
    honor_labels: true
    static_configs:
      - targets: ['netdata:19999']

#################################################################################################


  - job_name: "crowdsec_daniel-server"
    scrape_interval: 1m
    static_configs:
    - targets: ["crowdsec:6060"]
      labels:
        machine: 'daniel-server'


#################################################################################################
