---
apiVersion: v1
kind: Secret
metadata:
  name: code-server-env
  namespace: {{ k8s_namespace }}
type: Opaque
stringData:
  PASSWORD: "{{ code_server_password }}"
  SUDO_PASSWORD: "{{ code_server_sudo_password }}"
