[defaults]
# --- Logging & Output ---
# Use YAML format for clearer terminal output
stdout_callback = yaml
# Store a log file in the current directory
log_path = ./ansible.log
# Show timing information for tasks (identifies slow tasks)
callbacks_enabled = profile_tasks
inventory = inventory/hosts.ini
roles_path = roles/containers:roles/setup
collections_path = ./collections
display_skipped_hosts = false
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
