---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/bookmarks

- Bookmarks:
  - Gmail:
    - icon: gmail.png
      href: https://mail.google.com/mail/u/0/#inbox
  - YouTube:
    - icon: youtube.png
      href: https://www.youtube.com
  - Reddit:
    - icon: reddit.png
      href: https://reddit.com/
  - LoLalytics:
    - icon: /icons/LoLalytics.png
      href: https://lolalytics.com/lol/tierlist/
  - Tactics.Tools:
    - icon: /icons/tacticstools.png
      href: https://tactics.tools/
  - TFTAcademy:
      - icon: /icons/tftacademy.png
        href: https://tftacademy.com/tierlist/comps
  - TickTick:
    - icon: ticktick.png
      href: https://ticktick.com/webapp/#m/all/matrix
  - Wallabag:
    - icon: wallabag.png
      href: https://wallabag.{{ domain }}
  - n8n:
    - icon: n8n.png
      href: https://n8n.{{ domain }}
  - Limitless:
    - icon: limitless.png
      href: https://limitless.com/
  - Play Limitless:
    - icon: limitless.png
      href: https://play.limitless.com/
  - Twitter:
    - icon: twitter.png
      href: https://twitter.com/home
