{% from 'traefik.yml.j2' import labels with context %}
---

services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ={{ tz }}
      - HOMEPAGE_ALLOWED_HOSTS=homepage.{{ domain }}
    restart: unless-stopped
    cap_drop:
      - ALL
    cap_add:
      - SETGID
      - SETUID
      - CHOWN
    security_opt:
      - no-new-privileges:true
    networks:
      - {{ docker_network }}
    volumes:
      - ./config:/app/config
      - ./icons:/app/public/icons
    labels:
      {# Generate labels(container, port, docker_network, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          docker_network,
          container_item.use_authelia
        )
      }}

networks:
  {{ docker_network }}:
    external: true
