---
title: My Awesome Homepage
theme: dark
color: slate
headerStyle: clean
showStats: false
target: _blank # Possible options include _blank, _self, and _top
layout:
  Media:
    style: row
    columns: 4
  Services:
    style: row
    columns: 4
  Bookmarks:
    style: row
    columns: 6
  Monitoring:
    style: row
    columns: 3
providers:
  openweathermap: {{ weather_api_key }}
