---
title: My Awesome Homepage
theme: dark
color: slate
headerStyle: clean
showStats: false
target: _blank
layout:
  Top Row:
    style: row
    columns: 2
    header: false
    Services:
      style: row
      columns: 2
    Calendar:
      style: column
      columns: 1
  Media:
      style: row
      columns: 4
  Bookmarks:
    style: row
    columns: 6
  Monitoring:
    style: row
    columns: 3
providers:
  openweathermap: {{ weather_api_key }}
