{% from 'traefik.yml.j2' import labels with context %}
---

services:
  radarr:
    image: lscr.io/linuxserver/radarr
    container_name: radarr
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ={{ tz }}
      - DOCKER_MODS=linuxserver/mods:radarr-striptracks
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config:/config
      - /home/{{ sys_user }}/server/containers/data/media/movies:/movies
      - /home/{{ sys_user }}/server/containers/data/downloads:/downloads
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    cap_add:
      - SETGID
      - SETUID
      - CHOWN
    networks:
      - {{ docker_network }}
    healthcheck:
      test: curl --fail -s http://localhost:7878/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      {# Generate labels(container, port, docker_network, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          docker_network,
          container_item.use_authelia
        )
      }}

networks:
  {{ docker_network }}:
    external: true
