---
version: "3.8"
services:
  home-assistant:
    image: lscr.io/linuxserver/homeassistant
    container_name: home-assistant
    environment:
      - PUID={{ PUID }}
      - PGID={{ PUID }}
      - TZ={{ TZ }}
    volumes:
      - ./config:/config
    ports:
      - 8123:8123
    restart: unless-stopped
    networks:
      - {{ DOCKER_NETWORK }}
    healthcheck:
      test: curl --fail -s http://localhost:8123/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Setup HTTP entrypoint
      - "traefik.http.routers.home-assistant.entrypoints=http"
      - "traefik.http.routers.home-assistant.rule=Host(`home-assistant.{{ DOMAIN }}`)"
      # Redirect HTTP to HTTPS
      - "traefik.http.middlewares.home-assistant-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.home-assistant.middlewares=home-assistant-https-redirect"
      # Setup HTTPS entrypoint
      - "traefik.http.routers.home-assistant-secure.entrypoints=https"
      - "traefik.http.routers.home-assistant-secure.rule=Host(`home-assistant.{{ DOMAIN }}`)"
      - "traefik.http.routers.home-assistant-secure.tls=true"
      # Setup port forwarding to internal port
      - "traefik.http.routers.home-assistant-secure.service=home-assistant"
      - "traefik.http.services.home-assistant.loadbalancer.server.port=8123"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"
      # Add authelia
      - 'traefik.http.routers.home-assistant-secure.middlewares=authelia@docker'

networks:
  {{ DOCKER_NETWORK }}:
    external: true
