version: "3"
services:
  watchtower:
    image: containrrr/watchtower 
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - {{ env.DOCKER_NETWORK}}

networks:
  {{ env.DOCKER_NETWORK}}:
    external: true
