---
apiVersion: v1
kind: Service
metadata:
  name: zigbee2mqtt
  namespace: {{ k8s_namespace }}
spec:
  selector:
    app: zigbee2mqtt
  ports:
    - name: http
      port: {{ container_item.port }}
      targetPort: {{ container_item.port }}
