{% from 'arr-deployment.yml.j2' import arr_deployment with context %}
{{ arr_deployment('radarr',
                  image=radarr_k8s_image,
                  port=container_item.port,
                  rollout_timeout=radarr_k8s_rollout_timeout,
                  log_level=radarr_k8s_log_level,
                  log_rotate=radarr_k8s_log_rotate,
                  docker_mods=radarr_k8s_docker_mods,
                  config_claim=radarr_k8s_claim,
                  media_claim=radarr_k8s_media_claim,
                  exportarr_image=radarr_k8s_exportarr_image,
                  cpu_limit=radarr_k8s_cpu_limit,
                  mem_limit=radarr_k8s_mem_limit,
                  cpu_request=radarr_k8s_cpu_request,
                  mem_request=radarr_k8s_mem_request) }}
