apiVersion: v1
kind: Secret
metadata:
  name: longhorn-b2
  namespace: longhorn-system
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: "{{ kopia_b2_key_id }}"
  AWS_SECRET_ACCESS_KEY: "{{ kopia_b2_application_key }}"
  AWS_ENDPOINTS: "https://s3.{{ k3s_longhorn_b2_region }}.backblazeb2.com"
