{% from 'traefik.yml.j2' import labels with context %}
---
version: '3.8'
services:
  file-browser:
    image: filebrowser/filebrowser:latest
    container_name: file-browser
    user: {{ puid }}:{{ pgid }}
    volumes:
      - /home/{{ sys_user }}/server:/srv
      - filebrowser_db:/database
      - filebrowser_config:/config
      - filebrowser_db_file:/data/filebrowser.db
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - {{ docker_network }}
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ docker_network }}"

      {# Generate labels(container, port, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          container_item.use_authelia
        )
      }}

networks:
  {{ docker_network }}:
    external: true

volumes:
  filebrowser_db:
  filebrowser_config:
  filebrowser_db_file:
