{% from 'traefik.yml.j2' import labels with context %}
{% from 'autokuma.yml.j2' import labels as kuma with context %}
---
version: '3.8'
services:
  couchdb:
    image: couchdb:latest
    security_opt:
      - no-new-privileges:true
    container_name: livesync
    environment:
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD={{ livesync_db_password }}
    volumes:
      - ./couchdb-data:/opt/couchdb/data
      - ./couchdb-etc:/opt/couchdb/etc/local.d
    networks:
{% for net in container_item.networks | default([docker_network]) %}
      - {{ net }}
{% endfor %}
    restart: unless-stopped
    labels:
      {# Generate labels(container, port, docker_network, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          (container_item.networks | default([docker_network]))[0],
          container_item.use_authelia
        )
      }}
      {{ kuma(container_item.name) }}

networks:
{% for net in container_item.networks | default([docker_network]) %}
  {{ net }}:
    external: true
{% endfor %}
