---
apiVersion: v1
kind: Service
metadata:
  name: livesync
  namespace: {{ k8s_namespace }}
spec:
  selector:
    app: livesync
  ports:
    - port: {{ container_item.port }}
      targetPort: {{ container_item.port }}
