{% from 'traefik.yml.j2' import labels with context %}
---

services:
  tdarr:
    container_name: tdarr
    image: ghcr.io/haveagitgat/tdarr:latest
    restart: unless-stopped
    networks:
      - {{ docker_network }}
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ={{ tz }}
      - serverIP=0.0.0.0
      - serverPort=8266
      - webUIPort=8265
      - internalNode=true
      - inContainer=true
      - maxLogSizeMB=10
      - nodeID=daniel-server
    volumes:
      - ./server:/app/server
      - ./configs:/app/configs
      - ./logs:/app/logs
      - ./transcode_cache:/temp
      - /home/{{ sys_user }}/server/containers/data/media/:/media
    devices:
      - /dev/dri:/dev/dri
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8265/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
    labels:
      {# Generate labels(container, port, docker_network, use_authelia) -#}
      {{ labels(
          container_item.hostname | default(container_item.name),
          container_item.port | string,
          docker_network,
          container_item.use_authelia
        )
      }}

networks:
  {{ docker_network }}:
    external: true
