version: '3.8'
services:
  crowdsec:
    image: crowdsecurity/crowdsec:latest
    container_name: crowdsec
    environment:
      GID: "${GID-{{ env.PGID}}}"
      COLLECTIONS: "crowdsecurity/linux crowdsecurity/traefik"
    volumes:
      - ./config/acquis.yaml:/etc/crowdsec/acquis.yaml
      - crowdsec-db:/var/lib/crowdsec/data/
      - crowdsec-config:/etc/crowdsec/
      - traefik_traefik-logs:/var/log/traefik/:ro
    networks:
      - proxy
    restart: unless-stopped

  bouncer-traefik:
    image: docker.io/fbonalair/traefik-crowdsec-bouncer:latest
    container_name: bouncer-traefik
    environment:
      CROWDSEC_BOUNCER_API_KEY: {{ env.CROWDSEC_BOUNCER_API_KEY }}
      CROWDSEC_AGENT_HOST: crowdsec:8080
    networks:
      - proxy
    depends_on:
      - crowdsec
    restart: unless-stopped

  dashboard:
    #we're using a custom Dockerfile so that metabase pops with pre-configured dashboards
    build: ./dashboard
    restart: always
    ports:
      - 3003:3000
    environment:
      MB_DB_FILE: /data/metabase.db
      MGID: "${GID-{{ env.PGID}}}"
    depends_on:
      - 'crowdsec'
    volumes:
      - crowdsec-db:/metabase-data/
    networks:
      - {{ env.DOCKER_NETWORK}}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.entrypoints=http"
      - "traefik.http.routers.dashboard.rule=Host(`dashboard.{{ env.DOMAIN }}`)"
      - "traefik.http.middlewares.dashboard-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.dashboard.middlewares=dashboard-https-redirect"
      - "traefik.http.routers.dashboard-secure.entrypoints=https"
      - "traefik.http.routers.dashboard-secure.rule=Host(`dashboard.{{ env.DOMAIN }}`)"
      - "traefik.http.routers.dashboard-secure.tls=true"
      - "traefik.http.routers.dashboard-secure.service=dashboard"
      - "traefik.http.services.dashboard.loadbalancer.server.port=3000"
      - "traefik.docker.network={{ env.DOCKER_NETWORK }}"
      - 'traefik.http.routers.dashboard-secure.middlewares=authelia@docker'

networks:
  proxy:
    external: true
volumes:
  crowdsec-db:
  crowdsec-config:
  traefik_traefik-logs: # this will be the name of the volume from trarfic logs
    external: true # remove if traefik is running on same stack
