{% from 'traefik.yml.j2' import labels with context %}
---
version: '3.8'
services:
  crowdsec:
    image: crowdsecurity/crowdsec:latest
    container_name: crowdsec
    environment:
      GID: "${GID-{{ PGID}}}"
      COLLECTIONS: "crowdsecurity/linux crowdsecurity/traefik crowdsecurity/http-cve crowdsecurity/whitelist-good-actors"
    volumes:
      - ./config/acquis.yaml:/etc/crowdsec/acquis.yaml
      - crowdsec-db:/var/lib/crowdsec/data/
      - crowdsec-config:/etc/crowdsec/
      - traefik_traefik-logs:/var/log/traefik/:ro
    networks:
      - {{ DOCKER_NETWORK }}
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:8080/health/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped

  bouncer-traefik:
    image: docker.io/fbonalair/traefik-crowdsec-bouncer:latest
    container_name: bouncer-traefik
    environment:
      CROWDSEC_BOUNCER_API_KEY: {{ CROWDSEC_BOUNCER_API_KEY }}
      CROWDSEC_AGENT_HOST: crowdsec:8080
    networks:
      - {{ DOCKER_NETWORK }}
    depends_on:
      - crowdsec
    restart: unless-stopped

  dashboard:
    #we're using a custom Dockerfile so that metabase pops with pre-configured dashboards
    build: .
    container_name: crowdsec-dashboard
    restart: unless-stopped
    ports:
      - 3003:3000
    environment:
      MB_DB_FILE: /data/metabase.db
      MGID: "${GID-{{ PGID}}}"
    depends_on:
      - 'crowdsec'
    volumes:
      - crowdsec-db:/metabase-data/
    networks:
      - {{ DOCKER_NETWORK }}
    healthcheck:
      test: curl --fail -s http://localhost:3000/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"

      {# Generate labels(container_name, port, use_authelia) -#}
      {{ labels(container, '3000', 'y') }}
      
      # Disable watchtower update
      - "com.centurylinklabs.watchtower.enable=false"

networks:
  {{ DOCKER_NETWORK }}:
    external: true
volumes:
  crowdsec-db:
  crowdsec-config:
  traefik_traefik-logs: # this will be the name of the volume from traefic logs
    external: true # remove if traefik is running on same stack
