---
version: "2.1"
services:
  emulatorjs:
    image: lscr.io/linuxserver/emulatorjs
    container_name: emulatorjs
    environment:
      - PUID={{ env.PUID }}
      - PGID={{ env.PGID }}
      - TZ={{ env.TZ }}
      - SUBFOLDER=/ #optional
    volumes:
      - /home/{{ env.SYS_USER }}/server/emulatorjs/data/:/data
      - /home/{{ env.SYS_USER }}/server/emulatorjs/config/:/config
    ports:
      - 3002:3000
      - 81:80
      - 4001:4001 #optional
    restart: unless-stopped
    networks:
      - {{ env.DOCKER_NETWORK}}
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Setup HTTP entrypoint
      - "traefik.http.routers.emulatorjs.entrypoints=http"
      - "traefik.http.routers.emulatorjs.rule=Host(`emulatorjs.{{ env.DOMAIN }}`)"
      # Redirect HTTP to HTTPS
      - "traefik.http.middlewares.emulatorjs-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.emulatorjs.middlewares=emulatorjs-https-redirect"
      # Setup HTTPS entrypoint
      - "traefik.http.routers.emulatorjs-secure.entrypoints=https"
      - "traefik.http.routers.emulatorjs-secure.rule=Host(`emulatorjs.{{ env.DOMAIN }}`)"
      - "traefik.http.routers.emulatorjs-secure.tls=true"
      # Setup port forwarding to internal port
      - "traefik.http.routers.emulatorjs-secure.service=emulatorjs"
      - "traefik.http.services.emulatorjs.loadbalancer.server.port=3000"
      # Use traefik network
      - "traefik.docker.network={{ env.DOCKER_NETWORK }}"
      # Add authelia
      - 'traefik.http.routers.emulatorjs-secure.middlewares=authelia@docker'

networks:
  {{ env.DOCKER_NETWORK}}:
    external: true