{% from 'traefik.yml.j2' import labels with context %}
---
version: "2.1"
services:
  emulatorjs:
    image: lscr.io/linuxserver/emulatorjs:latest
    container_name: emulatorjs
    environment:
      - PUID={{ PUID }}
      - PGID={{ PGID }}
      - TZ={{ TZ }}

    volumes:
      - ./config:/config
      - ./data:/data
    ports:
      - 3005:3000
      - 81:80
    restart: unless-stopped
    networks:
      - {{ DOCKER_NETWORK }}
    healthcheck:
      test: curl -fIsS http://wikipedia.org/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      # Enable traefik for container
      - "traefik.enable=true"
      # Use traefik network
      - "traefik.docker.network={{ DOCKER_NETWORK }}"

      {# Generate labels(container_name, port, use_authelia) -#}
      {{ labels(container, '80', 'y') }}

      - "traefik.http.routers.emulatorjs.service=emulatorjs"

      {{ labels(container ~ '-backend', '3000', 'y') }}
      - "traefik.http.routers.{{container}}-backend.service={{container}}-backend"
      
networks:
  {{ DOCKER_NETWORK }}:
    external: true
